<!-- scroll begin -->
<!-- <div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner inner-bg6">
        <div class="content_wrap">
            <h1 class="page_title">View s</h1>
        </div>
    </div>
</div> -->
<div class="latest-news-block"
    style="background-color:#ccc;color: #fb0404;font-family: Ramabhadra,sans-serif!important;font-size:larger;">
    <div class="latest-news-block-hightlight">
        <div class="latest-update-block"> <span class="block-2"> News </span>
            <div style="overflow:hidden">
                <marquee behavior="scroll" direction="left" scrolldelay="15" scrollamount="1" truespeed="10"
                    onmouseover="this.stop()" onmouseout="this.start()" style="height:30px; white-space: nowrap">
                    <div class="tickercontainer">
                        <span class="ad-blk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/churchgo">చర్చి పర్మిషన్ గవర్నమెంట్ ఆర్డర్స్</a>
                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;</span>
                        <a href="/techsol">మీ చర్చికి మా టెక్నికల్ సొల్లుషన్స్</a>
                        <span
                            class="polls-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/webhelp">వెబ్ సైట్ ఎలా ఉపయోగించాలి</a>
                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/addattacks">క్రైస్తవులపై దాడుల నమోదు</a>
                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/survey-news">క్రైస్తవులకి ప్రభుత్వం సేవలు మీద సర్వే</a>

                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="https://forms.gle/uJiLXp74FZmQAkKe7">క్రైస్తవుల కోసం ప్రభుత్వం తరుపున నామినేటెడ్ పోస్ట్
                            ల లో ఎంతమంది వున్నారో, వారి జీత భత్యాలు తెలుసుకోండి, వారు మీకు ఎలా ఉపయోగ పడుతున్నారో
                            ఆప్షన్స్ సెలెక్ట్ చేయుటకు ఈ లింక్ క్లిక్ చేయండి</a>

                        <!-- <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/addattacks">క్రైస్తవులపై దాడుల నమోదు</a> -->

                    </div>
                </marquee>
            </div>
        </div>
    </div>
</div>
<!-- scroll end -->


<br><br>
<div class="row pt-45 pb-45"
    style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 5px; margin-top: 1px; text-align: center;">
    <h2
        style="text-align:center ;text-decoration: underline;font-size: 34px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
        ఈ రెండు పార్టీల ప్రభుత్వంలో క్రైస్తవులకు జరిగిన మేలు పోల్చాను చూడండి
    </h2>
</div>
<!--  tdp-ycp manifesto code start -->
<div class="row" style="padding: 15px;width:100%">

    <div class="col-5" style=" border: 3px solid rgb(96, 95, 95);">
        <div class="blog-card" style="display: flex; flex-direction: row; justify-content: center;">
            <img src="assets/images/ycpmanifesto24.jpg"  >
        </div>

    </div>
    <div class="col-7" style=" border: 3px solid rgb(96, 95, 95);">
        <div class="blog-card" style="display: flex; flex-direction: row; justify-content: center;">
            <img src="assets/images/tdpmanifesto2024.jpg" >
        </div>
        
        <div class="blog-card" style="display: flex; flex-direction: row; justify-content: center;">
            <img src="assets/images/tdpmanifesto24.jpg" >
        </div>
        
        

    </div>
</div>
<!-- tdp-ycp manifesto end -->
<!--  tdp-ycp manifesto code start -->
<div class="row" style="padding: 15px;width:100%">

    <div class="col-5" style=" border: 3px solid rgb(96, 95, 95);">
        <div class="blog-card" style="display: flex; flex-direction: row; justify-content: center;">
            <img src="assets/images/tdpbenifits2.jpg"  >
        </div>

    </div>
    <div class="col-7" style=" border: 3px solid rgb(96, 95, 95);">
        <div class="blog-card" style="display: flex; flex-direction: row; justify-content: center;">
            <img src="assets/images/tdpbenifits1.jpg" >
        </div>
        
        
        

    </div>
</div>
<!-- tdp-ycp manifesto end -->
<div class="row" style="padding: 15px;width:100%">

    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:center ;font-size: 34px; text-decoration: underline;color: #fb0404;font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            చంద్ర బాబు గారి ప్రభుత్వం హయాంలో
        </h3>
    </div>
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:center ;font-size: 34px;text-decoration: underline;color: #fb0404; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            జగన్ గారి ప్రభుత్వం హయాంలో
        </h3>
    </div>
<!-- column begin -->
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            2014లో టిడిపి బీజేపీతో పొత్తులో ఉండి, వైఎస్ఆర్సిపి తో పోల్చుకుంటే, టిడిపి ఎంతో మేలు
            చేసింది క్రైస్తవులకు
        </h3>
    </div>
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            జగన్మోహన్ రెడ్డి గారు బిజెపికి భయపడి క్రైస్తవులను దూరం పెట్టారు వాళ్లకు చాలా తక్కువ
            ప్రయోజనం చేశారు 
        </h3>
    </div>
<!-- column end -->
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            చంద్రబాబు గారు ఎవరికి భయపడకుండా అన్ని వర్గాల ప్రజలకి మేలు చేసే వ్యక్తిగా ఉన్నారు
        </h3>
    </div>
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            వైసిపి ప్పరోక్షంగా మత సంస్థ అయిన ఆర్ఎస్ఎస్ తో పొత్తు పెట్టుకున్నట్టు ఉంది, ఎందుకంటే జగన్ కి
            అత్యంత
            సన్నిహితుడైన విజయసాయిరెడ్డి ఆయన గురువు ఆర్ ఎస్ ఎస్ అధినేత మోహన్ భగవత్ అని ప్రకటించాడు, విజయ్
            సాయి రెడ్డి
            గారే దగ్గరుండి జగన్ గారి ని,  గంగా నదిలో ఏవో హైందవ కార్యక్రమాలు చేయించాడు, జగన్ గారి చుట్టూ
            అలాంటి
            వాళ్లనే పెట్టుకున్నాడు
        </h3>
    </div>

    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            చంద్రబాబు గారు బిజెపితో పొత్తు పెట్టుకోవాలి అనుకున్న, మణుపూర్ విషయంలో
            బిజెపికి సపోర్ట్ చేయలేదు
        </h3>
    </div>
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            మణుపూర్ విషయంలో జగన్ గారు పూర్తిగా బిజెపి కి సపోర్ట్ చేశారు.బిజెపి ఎన్ని బిల్లులు పెడితే అన్ని బిల్లులకి జగన్ గారు సపోర్ట్ చేశారు, అది
            రాష్ట్రాల హరించే ఢిల్లీ ఆర్డినెన్స్ బిల్లు అయినా, ఆర్టిఐ పరిధి తగ్గించే బిల్లు అయినా బిజెపి కి జగన్ గారు సపోర్ట్ చేశారు.

        </h3>
    </div>
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            చంద్రబాబు గారు క్రైస్త క్రైస్తవులకి అంత మేలు చేసిన క్రైస్తవులందరూ జగన్ కే సపోర్ట్ చేశారని
            కొంచెం బాధతో
            ఎవరో ఇచ్చిన సలహాతో క్రైస్తవులు కన్వర్షన్ మీద అలా మాట్లాడారు కానీ ఆయనకి అన్ని మతాలు సమానమే
            అని ఆయన
            ఇంతకుముందు ప్రవర్తన ద్వారా తెలుస్తుంది. కానీ ఒక విధంగా ఆయన చెప్పింది కరెక్టే , బలవంత
            మతమార్పిడులు అనేది
            రాజకీయ పోస్టుల కోసం జరిగాయి
        </h3>
    </div>
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            జగన్ గారికి 98% క్రైస్తవులు ఓట్లు వేసిన, క్రైస్తవుల మీద దాడులు జరుగుతున్న, కనీసం జగన్
            గారు స్పందించరు.
        </h3>
    </div>
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో ఇలాంటి అన్యాయం జరగలేదు 
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        జగన్ గారు నిర్వహించిన కులమత గణనలో 80 శాతం క్రైస్తవుల్ని, హిందువులుగా రాయమని వాలంటీర్లు కు, పై
                అధికారులు చెప్పారట, క్రైస్తవుల్ని చాలా తక్కువ మంది ఉన్నారని చూపించే ప్రయత్నం
                జగన్ గారు చేస్తున్నారు, జగన్ గారు నమ్మించి గొంతు కోస్తున్నట్టు వుంది.  <a href="/survey-news">రిపోర్ట్ కోసం ఈ లింక్ క్లిక్ చేయండి</a>

    </h3>
</div>
<!-- row end -->
    <!-- row satart -->
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            బిజెపితో పొత్తులో ఉన్నారు కాబట్టి బిజెపి నుంచి క్రైస్తవులకు ఎటువంటి హాని జరగకుండా చంద్రబాబు గారు, పవన్ కళ్యాణ్ గారు కాపాడగలరని నా నమ్మకం
        </h3>
    </div>
    <div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
        <h3
            style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
            జగన్ గారి కేసులను బట్టో, దేనిని బట్టో ఆయన భయపడుతున్నారు కనుక బిజెపిని నుంచి క్రైస్తవులను
            రక్షించలేరు అనేది నా అనుమానం. 
        </h3>
    </div>
<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో ఇలాంటి అన్యాయం జరగలేదు 
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        దళిత క్రైస్తవుల మీద సర్వే నిర్వహించి వారి రిజర్వేషన్ పోవడానికి కారణమయ్యారు
                , కరోనా సమయంలో సుమారు 30 వేల మందికి ఇటువంటి కండిషన్స్ పెట్టకుండా పాస్టర్ గా ఒకసారి ఐదువేల రూపాయలు
                ఇచ్చారు.
                ఒక్కసారి 5000 రూపాయలు తీసుకున్నందుకు దళిత పాస్టర్లకు వారికున్న ఎస్సీ రిజర్వేషన్ వారికి వారి పిల్లలకు
                పోయే ప్రమాదం ఏర్పడింది.
                మతోన్మాదులు 30 వేల మంది పాస్టర్ల డేటా తీసుకొని, ప్రతి ఎమ్మార్వో కు, ఈ లిస్టులో ఎవరైతే ఎస్సీలుగా ఉన్నారో
                వారి ఎస్సీ రిజర్వేషన్ తీసేసి, బీసీసీ BC-C లోకి పంపించమని లెటర్లు రాశారు.

    </h3>
</div>
<!-- row end -->

<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో మత సామరస్యం దెబ్బ తినలేదు, చంద్ర బాబు గారి పాలనలో అన్ని మతాలను ఒకేలా చూశారు, విజయవాడలో రోడ్డుకి అడ్డం వస్తే హైయందవ గుడులను
        తీయించేసారు

    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        జగన్ గారి పాలనలో మత సామరస్యం దెబ్బతింది, హిందు గుడులు మీద , చర్చి ల మీద దాడులు పెరుగు పోయాయి, ఒక మతము వారు, ఇంకొక మతము వారిని దూషించుకోవడం పెరిగి పోయాయి
        జగన్ గారు లీడర్స్ ను డమ్మీ చేయటం వలన వారు కంట్రోల్ చేలేని పరిస్తితి.
    </h3>
</div>
<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో చర్చల నిర్మాణానికి చర్చిల మరమ్మతులకు, 337 చర్చలకు 36 కోట్లు ఖర్చు చేసింది
    </h3>
</div>
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        జగన్ గారి పాలనలో 10 చర్చలకు మాత్రమే, చంద్ర బాబు గారు కొన్ని చర్చిలకు శాంక్షన్ చేసిన దాన్ని కాన్సుల్ కూడా చేసారు
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో 3.55 కోట్లు ఖర్చు చేసి 2681 క్రైస్తవ యువతకు నైపుణ్య శిక్షణ ఇచ్చింది
    </h3>
</div>
<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        నైపుణ్య శిక్షణ ఇచ్చింది సున్నా, నిపుణులు అంటే ఇష్టముండదు, డమ్మీ లు అంటే ఇష్టము అన్నట్టు ఉంది.
    </h3>
</div>
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో రాయితీ రుణాలు అందించిన కుటుంబాలు 3,563
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        అకౌంట్ లేదు
    </h3>
</div>
<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో ఉన్నత ఉద్యోగాలకు ఉచిత శిక్షణ పొందుకున్న వారు 167
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        సున్నా
    </h3>
</div>
<!-- row end -->

<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో పెళ్ళికానుక ఐదు వేల మందికి ఇచ్చారు
 

    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        లక్ష రూపాయలు ఇస్తానని చెప్పి 199 మందికి 50,000 చెప్పునిచ్చారు
    </h3>
</div>
<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో క్రైస్తవుల సమస్యలు ప్రభుత్వం దృష్టికి తీసుకెళ్లడానికి ఒక నామినేటెడ్
        ఎమ్మెల్యే ఇచ్చారు


    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        ఒక్కటి కూడా ఇవ్వలేదు, జగన్ గారు ఘోరమైన అన్యాయం చేసారు        
    </h3>
</div>
<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో సుమారు 12000 ల ఎయిడ్ స్కూల్ లకు ఎయిడ్ ఇచ్చారు
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        సుమారు 12000 ల ఎయిడ్ స్కూల్ లకు ఎయిడ్ నిలిపివేశారు
        

    </h3>
</div>
<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో గవర్నమెంట్ నిర్వహించే సెమీ క్రిస్మస్, అందరి పెద్ద పాస్టర్లతో కలిసి ఘనంగా
        నిర్వహించేవారు


    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        రెండుసార్లు జగన్ గారు రాలేదు, చాలా సామాన్యంగా అందర్నీ పిలవకుండా చేశారు
        
        
    </h3>
</div>
<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో బిషపులకి వారి సమస్యలు చెప్పుకోవడానికి సీఎం గారి దగ్గరికి వెళ్ళడానికి అవకాశం
        ఉండేది 


    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        జగన్ గారి పాలనలో సీఎం గారి దగ్గరికి వెళ్ళడానికి అవకాశం లేదు        
    </h3>
</div>
<!-- row end -->

<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో ఉన్నత చదువులకు ఫీజు రీయింబర్స్మెంట్ ఇచ్చాడు
    </h3>
</div>

<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        జగన్ గారు ఉన్నత చదువులకు(MA, MSc, MBA, M.Tech) ఫీజు రీయింబర్స్మెంట్ పీకేశాడు, 
        పెదలు చదువుకోకుండా చేసాడు
        
    </h3>
</div>

<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో గుంటూరులో 16 కోట్ల తో క్రైస్తవ భవనం 80% పూర్తీ చేసారు
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        జగన్ గారు క్రైస్తవులను, క్రైస్తవ భవనంను దూరం పెట్టారు
    </h3>
</div>
<!-- row end -->
<!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో క్రైస్తవ సమాధుల కోసం 52 ఖర్చు చేసింది
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        జగన్ గారు శాంక్షన్ చేసిన క్రైస్తవ సమాధులు నాలుగు చోట్ల
    </h3>
</div>
<!-- row end --><!-- row satart -->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో  క్రైస్తవ నామినేటెడ్ పోస్ట్ లు క్రైస్తవులకు ఇచ్చారు
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        జగన్ గారు క్రైస్తవ నామినేటెడ్ పోస్ట్ లు క్రైస్తవేతరులకు కూడా ఇచ్చారు
    </h3>
</div>
<!-- row satart-->
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        చంద్ర బాబు గారి పాలనలో మత సామరస్యం వుంది
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        జగన్ గారి పాలనలో మత సామరస్యం దెబ్బతినేటట్టు ఎస్సి కానీలలో హిందూ గుడులు కట్టిస్తున్నారు, ఎస్సి లు 80% మంది చర్చిలకు వెళుతుంటే వారిని హిందువులుగా మార్చమని RSS చెప్పిందేమో
    </h3>
</div>
 

<!-- row end -->

<!-- row satart
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
       
    </h3>
</div>
<div class="col-6" style=" border: 3px solid rgb(96, 95, 95);">
    <h3
        style="text-align:left ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif !important;">
        
    </h3>
</div>
 -->
 
</div>
<br>


<!--  whatsapp group qr code start -->
<div class="row" style="padding: 15px;width:100%">

    <div class="col-5" style=" border: 3px solid rgb(96, 95, 95);">
        <div class="blog-card" style="display: flex; flex-direction: row; justify-content: center;">
            <img src="assets/images/WhatsAppchristiangrouplinkqrcode.jpg" width="200px" height="300px">
        </div>

    </div>
    <div class="col-7" style=" border: 3px solid rgb(96, 95, 95);">

        <h3
            style="text-align:center ;color: #fb0404;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
            ఆంధ్ర క్రైస్తవ అన్ని రాజకీయ పార్టీల బిషప్స్, పాస్టర్లు, క్రైస్తవ నాయకులు, విస్వాసులు  అందరు డిస్కస్
            చేసుకోటానికి <a href="https://chat.whatsapp.com/G7iDcXTqIRO7tB4xWWme7F">ఈ లింక్ క్లిక్ చేసి వాట్సాప్ గ్రూప్
                లో జాయిన్ అవ్వండి.</a>

        </h3>
        <h3
            style="text-align:center ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
            <br> లేదా లెఫ్ట్ సైడ్ కోడ్ స్కాన్ చేయటం ద్వారా గ్రూప్లో జాయిన్ అవ్వచ్చు.

        </h3>



    </div>
</div>
<!-- whatsapp group qr code ended -->









<div class="row pt-45 pb-45"
    style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 40px; margin-top: 50px; text-align: center;">
    <h2
        style="display: flex; padding: 4%; justify-content: center ;color: #fb0404;font-size: 34px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
        వీటన్నిటిని బట్టి బిజెపి పోటీ చేసే స్థానాలు తప్పించి మిగతా అసెంబ్లీ స్థానాలకు టిడిపికి సపోర్ట్ చేయాలని,<br>
        పార్లమెంటు స్థానాలకు కాంగ్రెస్ కి సపోర్ట్ చేయాలని
        నా అభిప్రాయం ఎందుకంటే,<br>చంద్రబాబు గారితో పోలిస్తే జగన్మోహన్ రెడ్డి గారి పాలనలో క్రైస్తవులకు చాలా తక్కువ
        ప్రయోజనం సమకూరుంది, ఎక్కువ నష్టం కలిగింది, <br> కాబట్టి ఈసారి కి మట్టుకు జగన్ గారికి ఓటు వేయకూడదని
        నిర్ణయించుకున్నాను, క్రైస్తవుల యొక్క జర్క్ చూపించాలి. లేకపోతే మనం ఓట్లు వేసిన క్రైస్తవులకు చేయట లేదు. మీరు కూడా
        ఆలోచించి నిర్ణయం తీసుకోండి.

    </h2>
</div>

<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>

    <div class="container" style="background-color: #ccc;padding: 2%;">
        <div class="row pt-45">
            <h2
                style="text-align:center ;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
                <u>క్రైస్తవులకు అన్యాయం చేసిన YS జగన్ మోహన్ రెడ్డి గారు</u>
            </h2>

            <div *ngFor="let paragraph of paragraphs; let i = index" class="paragraph">
                <p>
                    {{ expanded[i] ? paragraph : (paragraph | slice:0:300) }} &nbsp;&nbsp;
                    <b style="color:red" (click)="toggleExpand(i)">
                        {{ expanded[i] ? 'తక్కువ చూపించు' : ' . . . ఇంకా చూపించు ' }}
                    </b>
                </p>
            </div>

           
                <br><br>క్రైస్తవులకు అన్ని విషయాలలో మేలు చేసే పార్టీ అధికారంలోకి రావాలని దయ చేసి ప్రార్దన చేయండి.
           
            <p>
                <br><br>క్రైస్తవులకి ప్రభుత్వం సేవలు మీద సర్వే కొరకు <a href="/survey-news">ఈ లింక్ మీద క్లిక్
                    చేయండి</a>
                <br><br> ప్రభుత్వం మీద జోసెఫ్ గారి అభిప్రాయం కొరకు <a href="/josephview">ఈ లింక్ మీద క్లిక్ చేయండి</a>
                <br><br>వార్తా పత్రికలలో జోసెఫ్ గారి అభిప్రాయాలు కొరకు <a href="/newspage">ఈ లింక్ మీద క్లిక్ చేయండి</a>
                <br><br>నా గురుంచి తెలుసుకొనుటకు <a href="/about">ఈ లింక్ మీద క్లిక్ చేయండి</a>
                <br><br>
                ..ప్రొఫెసర్ డాక్టర్ జోసఫ్ పి మోసిగంటి. <br> B.Tech, M.Tech, Ph.D<br>
                చైర్మన్, ఆంధ్రప్రదేశ్ జీసస్ బిలీవర్స్ అసోసియేషన్ కౌన్సిల్ (JBAC)<br>
                Phone : 7075482182
            </p>
        </div>
    </div>
</div>
<!-- <ng-template #ycpmanifesto1 let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0 ">Image</h5>
        <button type="button" class="close" aria-hidden="true" (click)="proofmodalDismis()">×</button>
    </div>

    <img src="assets/images/ycpmanifesto24.jpg">

</ng-template> -->
