<div class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>

    <div class="container" style="background-color: #ccc;padding: 2%;">
        <div class="row pt-45">
            <h2
                style="text-align: center;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
                <u>Technical Solutions to the Churches and Christian Organisations</u>
            </h2>
            <p
                style="text-align: justify;line-height: 35px; font-size:25px; font-family: Ramabhadra,sans-serif!important;">
              <li>  We are providing suitable technical solutions to the churches and Christian organisations in order to serve the community better and win more souls.
<br>1.	We provide solutions for small churches & Christian organisations to big churches & organisations.<br>
<br>2.	We can automize your churches and Christian organisations process for effective management and services to the believers.<br>
<br>3.	We can get all the phone numbers of your churches in minutes and give it you.<br>
<br>4.	We can provide Audio Conference facility 10 to 300 people by providing one phone number to you, even normal phone believers also can attend the conference, we can conduct poll<br>
<br>5.	You can send GOD’s word either in telugu or any language 10 believers to lakhs of believers in seconds.<br>
<br>6.	you can record your voice or information and through our software panel we can send the recorded voice 10 believers to lakhs of believers in seconds time, believer phone will get ring, when he lift the phone, he can hear the recorded voice.<br>
<br>7.	We can provide one device and software, we should insert our phone SIM into device, which can dial phone numbers one by one from the list, believer will get the ring from our phone number, when they lift the phone, believer can hear the recorded voice at the end we can ask his feed back in the recording voice itself, believer can give the feed back by pressing numbers from 0 to 9. All the status and reports we can see in the software that how many lifted the phone, how many not lifted the phone.<br>

<br>8.	We have nearly 40,000 pastors phone numbers in AP State. We can send the information to all of these pastors, bible colleges, musicians, singers, writers, believers in cinema field, believers in business, we have associated with attender to IAS, Labour to Landlord and pastors to bishops in AP.<br>

  


                … ప్రొఫెసర్ డాక్టర్ జోసెఫ్ ప్రకాష్ మోసిగంటి,
                B.Tech, M.Tech, Ph.D
                చైర్మన్, JBAC
                డైరెక్టర్ సెయింట్ మేరీస్ గ్రూప్ ఆఫ్ ఇంజినీరింగ్ కాలేజెస్, గుంటూరు



            </p>
        </div>

        <!--  -->


                </div>



            <!-- i wanto show images as table usage procedure here -->

        </div>