<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner inner-bg6">
        <div class="content_wrap">
            <h1 class="page_title">Colleges</h1>
            <!-- <div class="breadcrumbs">
                <a class="breadcrumbs_item home" href="index.html">Home</a>
                <span class="breadcrumbs_delimiter"></span>
                <span class="breadcrumbs_item current">Institutes</span>
            </div> -->
        </div>
    </div>
</div>

<!-- /Breadcrumbs -->

<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>

    <br>
    <div id="tribe-events-content" class="tribe-events-list">
        <marquee style="color: rgb(38, 18, 151); font-size: larger; text-align: justify;">
            Colleges Adding</marquee>

    </div>
    <div class="container mt-3" style="padding-bottom: 28px;">
        <h2>COLLEGES</h2>
        <div class="row">
            <div class=" col-6 col-sm-2">
                <br>
                <button type="button" class="btn btn-primary" (click)="formshow(1)">Bible colleges</button>
            </div>
            <div class="col-6 col-sm-2">
                <br>
                <button type="button" class="btn btn-danger" (click)="formshow(2)">Play Schools</button>
            </div>
            <div class="col-6 col-sm-2">
                <br>
                <button type="button" class="btn btn-primary" (click)="formshow(3)">Primary Schools</button>
            </div>
            <div class="col-6 col-sm-2">
                <br>
                <button type="button" class="btn btn-danger" (click)="formshow(4)">High Schools</button>
            </div>
            <div class="col-6 col-sm-2">
                <br>
                <button type="button" class="btn btn-danger" (click)="formshow(5)">Inter Schools</button>
            </div>
            <div class="col-6 col-sm-2">
                <br>
                <button type="button" class="btn btn-danger" (click)="formshow(4)">Degree / Engineering</button>
            </div>
            <div class="col-6 col-sm-2">
                <br>
                <button type="button" class="btn btn-danger" (click)="formshow(5)">PG Colleges</button>
            </div>
        </div>
    </div>
</div>
<br><br>