<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>

<!-- scroll begin -->
<div class="latest-news-block"
    style="background-color:#ccc;color: #fb0404;font-family: Ramabhadra,sans-serif!important;font-size:larger;">
    <div class="latest-news-block-hightlight">
        <div class="latest-update-block"> <span class="block-2"> News </span>
            <div style="overflow:hidden">
                <marquee behavior="scroll" direction="left" scrolldelay="15" scrollamount="1" truespeed="10"
                    onmouseover="this.stop()" onmouseout="this.start()" style="height:30px; white-space: nowrap">
                    <div class="tickercontainer">
                        <span class="ad-blk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/churchgo">చర్చి పర్మిషన్ గవర్నమెంట్ ఆర్డర్స్</a>
                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;</span>
                        <a href="/techsol">మీ చర్చికి మా టెక్నికల్ సొల్లుషన్స్</a>
                        <span
                            class="polls-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/webhelp">వెబ్ సైట్ ఎలా ఉపయోగించాలి</a>
                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/addattacks">క్రైస్తవులపై దాడుల నమోదు</a>
                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/survey-news">క్రైస్తవులకి ప్రభుత్వం సేవలు మీద సర్వే</a>

                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;క్రైస్తవుల
                            కోసం ప్రభుత్వం తరుపున నామినేటెడ్ పోస్ట్ ల లో ఎంతమంది వున్నారో, వారి జీత భత్యాలు
                            తెలుసుకోండి:</span>
                        <a href="/addattacks">వారు మీకు ఎలా ఉపయోగ పడుతున్నారో ఆప్షన్స్ సెలెక్ట్ చేయుటకు ఈ లింక్ క్లిక్
                            చేయండి</a>

                        <!-- <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/addattacks">క్రైస్తవులపై దాడుల నమోదు</a> -->

                    </div>
                </marquee>
            </div>
        </div>
    </div>
</div>
<!-- scroll end -->

<!-- <div class="row pt-45 pb-45"
style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 40px; margin-top: 50px; text-align: center;">
<h2 style="text-align:center ;color: #fb0404;font-size: 34px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;" >వీటన్నిటిని బట్టి బిజెపి పోటీ చేసే స్థానాలు తప్పించి మిగతా స్థానాలకు టిడిపికి సపోర్ట్ చేయాలని నా అభిప్రాయం ఎందుకంటే,చంద్రబాబు గారితో పోలిస్తే  జగన్మోహన్ రెడ్డి గారి పాలనలో క్రైస్తవులకు చాలా తక్కువ ప్రయోజనం సమకూరుంది, ఎక్కువ నష్టం కలిగింది, కాబట్టి ఈసారి కి మట్టుకు జగన్ గారికి ఓటు వేయకూడదని నిర్ణయించుకున్నాను, మీరు కూడా ఆలోచించి నిర్ణయం తీసుకోండి.

</h2>
</div> -->

<!-- <div class="row" style="padding: 15px;width:100%">

    <div class="col-5" style=" border: 3px solid rgb(96, 95, 95);">
        <div class="blog-card" style="display: flex; flex-direction: row; justify-content: center;">
            <img src="assets/images/WhatsAppchristiangrouplinkqrcode.jpg" width="200px" height="300px">
        </div>

    </div>
    <div class="col-7" style=" border: 3px solid rgb(96, 95, 95);">

        <h3
            style="text-align:center ;color: #fb0404;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
            ఆంధ్ర క్రైస్తవ అన్ని రాజకీయ పార్టీల బిషప్స్, పాస్టర్లు, క్రైస్తవ నాయకులు, విస్వాసులు  అందరు డిస్కస్
            చేసుకోటానికి <a href="https://chat.whatsapp.com/G7iDcXTqIRO7tB4xWWme7F">ఈ లింక్ క్లిక్ చేసి వాట్సాప్ గ్రూప్
                లో జాయిన్ అవ్వండి.</a>

        </h3>
        <h3
            style="text-align:center ;font-size: 22px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
            <br> లేదా లెఫ్ట్ సైడ్ కోడ్ స్కాన్ చేయటం ద్వారా గ్రూప్లో జాయిన్ అవ్వచ్చు.

        </h3>



    </div>
</div>

<br> -->

<div class="container"
    style="color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;background-color: #E6E6FA; padding: 2%;">
    <div class="row pt-45">
        <h2
            style="text-align: center;color: #fb0404;font-weight: 500;font-size: 22px  ;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
            జోసెఫ్ గారి అభిప్రాయం ప్రకారం ఏ పార్టీకి వోట్ వేస్తే బాగుంటుందో తెలిసికొనుట కొరకు <a href="/josephview">ఈ
                లింక్ మీద క్లిక్ చేయండి</a>
        </h2>

        <p
            style="color: #fb0404;font-weight: 500;font-size: 22px  ;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
            <br><br>



            వార్తా పత్రికలలో జోసెఫ్ గారి అభిప్రాయాలు కొరకు <a href="/newspage">ఈ లింక్ మీద క్లిక్ చేయండి</a>

            <br><br>క్రైస్తవులకి ప్రభుత్వం సేవలు మీద సర్వే కొరకు <a href="/survey-news">ఈ లింక్ మీద క్లిక్ చేయండి</a>

            <br><br>
            క్రైస్తవుల మేలుకొల్పు వీడియో గేలరీ కొరకు<a href="/videospage">ఈ లింక్ మీద క్లిక్ చేయండి</a>

            <br><br>
            జోసెఫ్ గారు కలిసిన క్రైస్తవ నాయకుల ఫోటో గేలరీ కొరకు <a href="/gallery">ఈ లింక్ మీద క్లిక్ చేయండి</a>

            <br><br>
            జోసెఫ్ గారి అభిప్రాయం ప్రకారం ఏ పార్టీకి వోట్ వేస్తే బాగుంటుందో తెలిసికొనుట కొరకు<a href="/josephview">ఈ
                లింక్ మీద క్లిక్ చేయండి</a>

            <br><br>

            క్రైస్తవులకు అన్యాయం  <a href="/injustice">ఈ లింక్ మీద క్లిక్
                చేయండి</a>
            <br><br>


            నా గురుంచి తెలుసుకొనుటకు <a href="/about">ఈ లింక్ మీద క్లిక్ చేయండి</a>

            <br><br>
            ..ప్రొఫెసర్ డాక్టర్ జోసఫ్ పి మోసిగంటి. <br>
            B.Tech, M.Tech, Ph.D<br>
            చైర్మన్, ఆంధ్రప్రదేశ్ జీసస్ బిలీవర్స్ అసోసియేషన్ కౌన్సిల్ (JBAC)<br>

            Phone : 7075482182


        </p>
    </div>
</div>



<!-- i wanto show images as table usage procedure here -->