<!-- scroll begin -->
<div class="latest-news-block" style="background-color:#ccc;color: #fb0404;font-family: Ramabhadra,sans-serif!important;font-size:larger;">
    <div class="latest-news-block-hightlight">
        <div class="latest-update-block"> <span class="block-2"> News </span>
            <div style="overflow:hidden">
                <marquee behavior="scroll" direction="left" scrolldelay="15" scrollamount="1" truespeed="10"
                    onmouseover="this.stop()" onmouseout="this.start()" style="height:30px; white-space: nowrap">
                    <div class="tickercontainer">
                        <span
                            class="ad-blk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/churchgo">చర్చి పర్మిషన్ గవర్నమెంట్ ఆర్డర్స్</a>
                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;</span>
                        <a href="/techsol">మీ చర్చికి మా టెక్నికల్ సొల్లుషన్స్</a>
                        <span
                            class="polls-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/webhelp">వెబ్ సైట్ ఎలా ఉపయోగించాలి</a>
                            <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/addattacks">క్రైస్తవులపై దాడుల నమోదు</a>
                        <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/survey-news">క్రైస్తవులకి ప్రభుత్వం సేవలు మీద సర్వే</a>

                        <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="https://forms.gle/uJiLXp74FZmQAkKe7">క్రైస్తవుల కోసం ప్రభుత్వం తరుపున నామినేటెడ్ పోస్ట్ ల లో ఎంతమంది వున్నారో, వారి జీత భత్యాలు తెలుసుకోండి, వారు మీకు ఎలా ఉపయోగ పడుతున్నారో ఆప్షన్స్ సెలెక్ట్ చేయుటకు ఈ లింక్ క్లిక్ చేయండి</a>

                        <!-- <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/addattacks">క్రైస్తవులపై దాడుల నమోదు</a> -->

                    </div>
                </marquee>
            </div>
        </div>
    </div>
</div> 
<!-- scroll end -->
<div class="col-12">
    <img src="assets/images/dalitchristian-sc-1.jpg">
</div>
<div class="col-12">
    <img src="assets/images/dalitchristian-sc-2.jpg">
</div>
<div class="col-12">
    <img src="assets/images/dalitchristian-sc-3.jpg">
</div>
                
<div class="col-12">
    <img src="assets/images/mlc.jpg">
</div>
 <div class="col-12">
    <img src="assets/images/attackchr1.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr2.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr3.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr4.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr5.jpg">
</div><div class="col-12">
    <img src="assets/images/attackchr6.jpg">
</div>

<div class="col-12">
    <img src="assets/images/attackchr7.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr8.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr9.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr10.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr11.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr12.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr13.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr14.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr15.jpg">
</div>
<div class="col-12">
    <img src="assets/images/attackchr16.jpg">
</div>

