<header class="top_panel_wrap top_panel_style_3 scheme_original">
    <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
        <!-- Menu area -->
        <div class="top_panel_middle" style= " background-color: #ead8d88c;">
            <div class="content_wrap" >
                <!-- Contact logo -->
                <div class="contact_logo">
                    <div margin class="logo">
                        <a href="index.html">
                            <img src="assets/images/Logo-header.png" class="logo_main" alt="">

                        </a>
                    </div>
                </div>

                <div class="menu_main_wrap">
                    <nav class="menu_main_nav_area">
                        <ul id="menu_main" class="menu_main_nav" style="color: #1bbad2; text-align:left ;font-size: 18px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
                            <!-- <ul id="menu_main" class="menu_main_nav" style="color: #1bbad2;"> -->
                            
                            <!--home menu shifted -->

                            <li class="menu-item menu-item-has-children">
                                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">మా గురుంచి</a>
                                <ul class="sub-menu" style="text-align:left ;color: #fb0404;font-size: 14px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
                                    <li class="menu-item">
                                        <a routerLink="/about" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">నా గురుంచి</a>
                                    </li>
                                    <li class="menu-item" >
                                        <a routerLink="/ourhelp" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">మీకు మా సహాయం</a>
                                    </li> 
                                    <!-- <li class="menu-item" >
                                        <a routerLink="/newspage" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">ఆంధ్రరాష్ట్ర  క్రైస్తవ  కాన్ఫరెన్స్
                                        </a>
                                    </li> -->
                                    
                                    <li class="menu-item">
                                        <a routerLink="/webhelp" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">వెబ్ సైట్ ఎలా ఉపయోగించాలి</a>
                                    </li>
                                    <li class="menu-item" >
                                        <a routerLink="/churchgo" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">చర్చి పర్మిషన్ గవర్నమెంట్ ఆర్డర్స్</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/techsol" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">మీ చర్చికి మా టెక్నికల్ సొల్లుషన్స్</a>
                                    </li> 
                                    <li class="menu-item" >
                                        <a routerLink="/news" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">క్రైస్తవులకు సంబందించిన వార్తలు పెట్టండి
                                        </a>
                                    </li>
                                    
                                    <li class="menu-item">
                                        <a routerLink="/addattacks" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">క్రైస్తవులపై దాడుల నమోదు</a>
                                    </li>
                                     <li class="menu-item">
                                        <a routerLink="/gallery" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">ఫోటో గేలరీ</a>
                                    </li> 
                                    <li class="menu-item">
                                        <a routerLink="/contactus" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">Home </a>
                                    </li>
                                </ul>


                            </li>

                            <!-- <li class="menu-item">
                                <a routerLink="/studentregister" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">క్రైస్తవ విద్యార్థులకు ఎడ్యుకేషన్ అచీవ్మెంట్ అవార్డు రిజిస్ట్రేషన్</a> 
                            </li> -->
                           
                             <li class="menu-item">
                                <a routerLink="/apchristianpolitics" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">ఆంధ్ర క్రైస్తవుల ఓట్ ఎవరికీ / క్రైస్తవులకి అన్యాయం</a> 
                        

<!--
                                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ఆంధ్రరాష్ట్ర క్రైస్తవుల ఓట్ ఎవరికీ </a>
                                <ul class="sub-menu" style="text-align:left ;color: #fb0404;font-size: 14px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
                                    
                                     <li class="menu-item">
                                        <a routerLink="/injustice" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">జగన్ గారి ద్వారా  క్రైస్తవ సమాజానికి అన్యాయం</a>
                                    </li>
                                   <li class="menu-item">
                                        <a routerLink="/newspage" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">వార్తా పత్రికలలో జోసెఫ్ గారి అభిప్రాయాలు</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/josephview" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">ప్రభుత్వం మీద జోసెఫ్ గారి అభిప్రాయం </a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/survey-news" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">క్రైస్తవులకి ప్రభుత్వం సేవలు మీద సర్వే</a>
                                    </li>
                                    <li class="menu-item" >
                                        <a routerLink="/videospage" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">క్రైస్తవుల మేలుకొల్పు వీడియో గేలరీ </a>
                                    </li>
                                     -->
                                     
                                   
                                     <!-- <li class="menu-item">
                                        <a routerLink="/church-pastor-search" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">Name-Search </a>
                                    </li>   
                                </ul>
                            -->

                            <!-- </li>   -->

                            <!-- <li class="menu-item menu-item-has-children">
                                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">మీటింగ్స్</a>
                                <ul class="sub-menu" style="text-align:left ;color: #fb0404;font-size: 14px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
                                    
                                    <li class="menu-item">
                                        <a routerLink="/addmeetings" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">మీటింగ్స్ సమాచారం నమోదు</a>
                                    </li>
                                   <li class="menu-item">
                                        <a routerLink="/events" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">మీటింగ్స్ సమాచారం చూచుటకు</a>
                                    </li>
                                  
                           </ul> -->
                           <li class="menu-item menu-item-has-children">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">మీటింగ్స్</a>
                            <ul class="sub-menu">

                           <li class="menu-item" >
                            <a routerLink="/addmeetings" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">సబ్మిట్ చేయుటకు</a>
                        </li>
                           <li class="menu-item" >
                            <a routerLink="/events" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">మీటింగ్స్ చూచుటకు</a>
                        </li>
                        </ul>
                        <!-- meetings login is required -->
                           <!-- <li class="menu-item" *ngIf="login">
                                <a (click)="alert()">మీటింగ్స్</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a routerLink="/events" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">మీటింగ్స్</a>
                            </li>  -->


                            <!-- <li class="menu-item" *ngIf="login">
                                <a (click)="alert()">చర్చి సర్వీసెస్</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a routerLink="/church_timings" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">చర్చి సర్వీసెస్</a>
                            </li> -->

                            <li class="menu-item menu-item-has-children">
                                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">రిజిస్ట్రేషన్స్</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a routerLink="/believerregister" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">విశ్వాసి రిజిస్ట్రేషన్</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/studentregister" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">విద్యార్థి రిజిస్ట్రేషన్</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/ministryregister" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">మినిస్ట్రీ రిజిస్ట్రేషన్</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/pastorregister" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">పాస్టర్ రిజిస్ట్రేషన్</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/churchregister" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">చర్చి రిజిస్ట్రేషన్</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/organisationregister" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">ఆర్గనైజషన్ రిజిస్ట్రేషన్</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/pastorassociationregister" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">పాస్టర్ అసోసియేషన్ రిజిస్ట్రేషన్</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children" *ngIf="login">
                                <a (click)="alert()">సేవలు</a>
                            </li>
                            <li class="menu-item menu-item-has-children" *ngIf="notlogin">
                                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">సేవలు</a>
                                <ul class="sub-menu">
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/institute" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">క్రైస్తవ సంస్థలు</a>
                                    </li>
                                      <!-- <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/gallery" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">Photo Gallery</a>
                                    </li>   -->
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/marriages" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">వివాహాలు </a>
                                    </li>
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/jobs" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">ఉద్యోగాలు</a>
                                    </li>
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/help" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">సహాయం కొరకు</a>
                                    </li>
                                   
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/business" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}"> Search Bussiness / House Rent
                                            Information</a>
                                    </li>
                                    
                                    <!-- <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/videospage" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">Video Gallery </a>
                                    </li> -->
                                    <!-- <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/attack" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">Attacks on AP Christians</a>
                                    </li>  -->
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/wings" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">JBAC వింగ్స్ సమాచారం
 </a>
                                    </li>
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/organization" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">సర్చ్ ఆర్గనైజషన్ </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children" *ngIf="login">
                                <a (click)="alert()">అకౌంట్</a>
                            </li>
                            <li class="menu-item menu-item-has-children" *ngIf="notlogin">
                                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">అకౌంట్</a>
                                <ul class="sub-menu">
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/addchurchtimings" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">మీ చర్చి టైమింగ్స్ ఎంటర్ చేయండి</a>
                                    </li>
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/addinstitute" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">మీ మినిస్ట్రీ కిండ మీ వింగ్స్ ఆడ్ చెయ్యటం</a>
                                    </li>
                                     <!-- <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/addmeetings" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">Submit Meetings Information</a>
                                    </li>  -->
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/addbusiness" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">బిజినెస్ నమోదు</a>
                                    </li>
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/addmarriages" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">వివాహం కొరకు రిజిస్ట్రేషన్</a>
                                    </li>
                                     <!-- <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/addattacks" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">Submit information about Attacks
                                            on Christians </a>
                                    </li>  -->
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/addjobs" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}"> ఉద్యోగాల అవసరత సబ్ మిషన్</a>
                                    </li>
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/addads" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">యాడ్స్ సమాచారం సబ్ మిషన్</a>
                                    </li>

                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/update" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">మీ ప్రొఫైల్ అప్డేట్ కొరకు</a>
                                    </li>
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/leaders" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">మీరు లీడర్ గా నమోదు చేసుకుని ఉంటే</a>
                                    </li>
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a routerLink="/downloads" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}">డౌన్ లోడ్స్</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <div class="nav-add-btn" *ngIf="login">
                                    <a routerLink="/login" style="color: rgb(0, 0, 0); font-weight: bold;"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">లాగిన్ </a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div *ngIf="notlogin">
                                    <img src="assets\images\user.jpg" style="height: 30px;width:30px;">
                                </div>
                                <ul class="sub-menu">
                                    <li class="menu-item" *ngIf="notlogin">
                                        <a>Username : {{name}}</a>
                                    </li>

                                    <li class="menu-item" *ngIf="notlogin">
                                        <a (click)="logout()">Logout</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- /Header Mobile -->


<div class="header_mobile" >
    <div class="content_wrap">
        <div class="menu_button icon-menu"></div>
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/App-view-Logo-header.png" class="logo_main" alt="">
            </a>
        </div>
    </div>
    <div class="side_wrap" >
        <div class="close">Close</div>
        <div class="panel_top">
         <!--   <nav class="menu_main_nav_area">
                <ul id="menu_main_mobile" class="menu_main_nav">
                     <li class="menu-item menu-item-has-children">
                        <a href="">About</a>
                        <ul class="sub-menu" style="text-align:left ;color: #fb0404;font-size: 14px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
                         <li class="menu-item">
                                <a href="/about" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">About Us</a>
                            </li> 
                            <li class="menu-item">
                                <a routerLink="/about" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">నా గురుంచి</a>
                            </li> 
                            <li class="menu-item">
                                <a routerLink="/newspage" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">వార్తా పత్రికలలో జోసెఫ్ గారి అభిప్రాయాలు</a>
                            </li>
                            <li class="menu-item">
                                <a routerLink="/josephview" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">ప్రభుత్వం మీద జోసెఫ్ గారి అభిప్రాయం </a>
                            </li>
                            <li class="menu-item">
                                <a routerLink="/survey-news" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">క్రైస్తవులకి ప్రభుత్వం సేవలు మీద సర్వే</a>
                            </li>
                            <li class="menu-item" >
                                <a routerLink="/videospage" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">క్రైస్తవుల మేలుకొల్పు వీడియో గేలరీ </a>
                            </li>
                            <li class="menu-item" >
                                <a routerLink="/addattacks" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">క్రైస్తవులపై దాడుల నమోదు </a>
                            </li> 
                            
                            <li class="menu-item">
                                <a routerLink="/church-pastor-search" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Name-Search </a>
                            </li> 
                            <li class="menu-item">
                                <a routerLink="/webhelp" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">వెబ్ సైట్ ఎలా ఉపయోగించాలి</a>
                            </li>
                            <li class="menu-item">
                                <a routerLink="/techsol" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">మీ చర్చికి మా టెక్నికల్ సొల్లుషన్స్</a>
                            </li> 
                             <li class="menu-item">
                                <a routerLink="/gallery" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">ఫోటో గేలరీ</a>
                            </li> 
                            <li class="menu-item">
                                <a routerLink="/contactus" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
                            </li>
                            <li class="menu-item">
                                <a routerLink="/" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Home </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="menu-item" *ngIf="login">
                        <a (click)="alert()">Meetings</a>
                    </li>
                    <li class="menu-item" *ngIf="notlogin">
                        <a href="/events" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Meetings</a>
                    </li>
                    <li class="menu-item" *ngIf="login">
                        <a (click)="alert()">Church Services</a>
                    </li>
                    <li class="menu-item" *ngIf="notlogin">
                        <a href="/church_timings" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Church Services</a>
                    </li> 
                    <li class="menu-item menu-item-has-children">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Registrations</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="/believerregister" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">BELIEVER REGISTER</a>
                            </li>
                            <li class="menu-item">
                                <a href="/studentregister" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">STUDENT REGISTER</a>
                            </li>
                            <li class="menu-item">
                                <a href="/ministryregister" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">MINISTRY REGISTER</a>
                            </li>
                            <li class="menu-item">
                                <a href="/pastorregister" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">PASTOR REGISTER</a>
                            </li>
                            <li class="menu-item">
                                <a href="/churchregister" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">CHURCH REGISTER</a>
                            </li>
                            <li class="menu-item">
                                <a href="/organisationregister" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">ORGANISATION</a>
                            </li>
                            <li class="menu-item">
                                <a href="/pastorassociationregister" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">PASTOR
                                    ASSOCIATION</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children" *ngIf="login">
                        <a (click)="alert()">services</a>
                    </li>
                    <li class="menu-item menu-item-has-children" *ngIf="notlogin">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">services</a>
                        <ul class="sub-menu">
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/institute" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Institutes</a>
                            </li>
                            
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/marriages" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Marriages</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/jobs" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Jobs</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/help" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Search For Help</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/news" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Update News</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/business" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Bussiness</a>
                            </li>
                            
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/wings" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Wings </a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/organization" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Organisation </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children" *ngIf="login">
                        <a (click)="alert()">My Account</a>
                    </li>
                    <li class="menu-item menu-item-has-children" *ngIf="notlogin">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My
                            Account</a>
                        <ul class="sub-menu">
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/addchurchtimings" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">ChurchTimings</a>
                            </li>
                           
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/addmeetings" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Meetings Information Submission</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/addinstitute" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Institute</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/addbusiness" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Business</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/addmarriage" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Marriages</a>
                            </li>
                             <li class="menu-item" *ngIf="notlogin">
                                <a href="/addattacks" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Attacks</a>
                            </li>  
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/addjobs" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Jobs</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/addads" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Ads</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/update" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Profile View & Edit</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/leaders" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Leaders</a>
                            </li>
                            <li class="menu-item" *ngIf="notlogin">
                                <a href="/downloads" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Downloads</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item " *ngIf="login">
                        <a href="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login </a>

                    </li> 
                    <li *ngIf="notlogin">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div>
                                &nbsp;&nbsp;&nbsp;&nbsp;<img src="assets\images\bg.png"
                                    style="height: 30px;width:30px;">
                            </div>
                        </a>
                    </li>
                    <div style="background-color:black;padding: 3%;border-radius: 10px;" *ngIf="notlogin">
                        <ul class="menu-item">
                            <li class="menu-item">
                                <a>Username : {{name}}</a>
                            </li>
                            <li class="menu-item">
                                <a (click)="logout()" onclick="closeNav()">Logout</a>
                            </li>

                        </ul>
                    </div>
                </ul>
         </nav>
        -->
        <nav class="menu_main_nav_area">
            <ul id="menu_main_mobile" class="menu_main_nav" style="text-align: left; font-weight: lighter ;font-size:large;font-family: Ramabhadra,sans-serif!important; background-color: #1DC6DF; color: white;">
                <!-- <ul id="menu_main" class="menu_main_nav" style="color: #1bbad2;"> -->
                
                <!--home menu shifted -->

                <li class="menu-item menu-item-has-children">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">మా గురుంచి</a>
                    <ul class="sub-menu" >
                        <li class="menu-item">
                            <a routerLink="/about" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">నా గురుంచి</a>
                        </li>
                        <li class="menu-item" >
                            <a routerLink="/ourhelp" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">మీకు మా సహాయం</a>
                        </li> 
                        <li class="menu-item" >
                            <a routerLink="/churchgo" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">చర్చి పర్మిషన్ గవర్నమెంట్ ఆర్డర్స్</a>
                        </li>
                        <!-- <li class="menu-item" >
                            <a routerLink="/newspage" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">ఆంధ్రరాష్ట్ర  క్రైస్తవ  కాన్ఫరెన్స్</a>
                        </li>  -->
                        
                        <li class="menu-item">
                            <a routerLink="/webhelp" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">వెబ్ సైట్ ఎలా ఉపయోగించాలి</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/techsol" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">మీ చర్చికి మా టెక్నికల్ సొల్లుషన్స్</a>
                        </li> 
                         <li class="menu-item">
                            <a routerLink="/gallery" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">ఫోటో గేలరీ</a>
                        </li> 
                        <li class="menu-item" >
                            <a routerLink="/news" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">క్రైస్తవులకు సంబందించిన వార్తలు పెట్టండి
                            </a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/addattacks" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">క్రైస్తవులపై దాడుల నమోదు </a>
                        </li>
                        
                        <li class="menu-item">
                            <a routerLink="/contactus" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Home </a>
                        </li>
                    </ul>


                </li>
                
                <!-- <li class="menu-item" >
                    <a routerLink="/newspage" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">ఆంధ్ర క్రైస్తవ  కాన్ఫరెన్స్</a>
                </li> -->
                <!-- <li class="menu-item">
                    <a routerLink="/apchristianpolitics" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">ఆంధ్ర క్రైస్తవుల ఓట్ ఎవరికీ / క్రైస్తవులకి అన్యాయం</a> -->
                
                <!-- <li class="menu-item menu-item-has-children">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ఆంధ్రరాష్ట్ర క్రైస్తవుల ఓట్ ఎవరికీ</a>
                    <ul class="sub-menu" style="text-align:left ;font-size: 14px; font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
                        
                        
                       <li class="menu-item">
                            <a routerLink="/newspage" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">వార్తా పత్రికలలో జోసెఫ్ గారి అభిప్రాయాలు</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/josephview" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">ప్రభుత్వం మీద జోసెఫ్ గారి అభిప్రాయం </a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/survey-news" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">క్రైస్తవులకి ప్రభుత్వం సేవలు మీద సర్వే</a>
                        </li>
                        <li class="menu-item" >
                            <a routerLink="/videospage" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">క్రైస్తవుల మేలుకొల్పు వీడియో గేలరీ </a>
                        </li>
                        
                        <li class="menu-item">
                            <a routerLink="/injustice" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">జగన్ గారి ద్వారా  క్రైస్తవ సమాజానికి అన్యాయం</a>
                        </li>  -->
                                    
                         <!-- <li class="menu-item">
                            <a routerLink="/church-pastor-search" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Name-Search </a>
                        </li>   
                    </ul>  -->


                <!-- </li>   -->

                <li class="menu-item menu-item-has-children">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">మీటింగ్స్</a>
                    <ul class="sub-menu">

                   <li class="menu-item" >
                    <a routerLink="/addmeetings" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">సబ్మిట్ చేయుటకు</a>
                </li>
                   <li class="menu-item" >
                    <a routerLink="/events" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">మీటింగ్స్ చూచుటకు</a>
                </li>
                </ul>
                <!-- <li class="menu-item" *ngIf="login">
                    <a (click)="alert()">మీటింగ్స్</a>
                </li>
                <li class="menu-item" *ngIf="notlogin">
                    <a routerLink="/events" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">మీటింగ్స్</a>
                </li> -->


                <!-- <li class="menu-item" *ngIf="login">
                    <a (click)="alert()">చర్చి సర్వీసెస్</a>
                </li>
                <li class="menu-item" *ngIf="notlogin">
                    <a routerLink="/church_timings" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">చర్చి సర్వీసెస్</a>
                </li> -->

                <li class="menu-item menu-item-has-children">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">రిజిస్ట్రేషన్స్</a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a routerLink="/believerregister" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">BELIEVER REGISTER</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/studentregister" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">STUDENT REGISTER</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/ministryregister" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">MINISTRY REGISTER</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/pastorregister" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">PASTOR REGISTER</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/churchregister" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">CHURCH REGISTER</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/organisationregister" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">ORGANISATION</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/pastorassociationregister" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">PASTOR
                                ASSOCIATION</a>
                        </li>

                    </ul>
                </li>
                <li class="menu-item menu-item-has-children" *ngIf="login">
                    <a (click)="alert()">సేవలు</a>
                </li>
                <li class="menu-item menu-item-has-children" *ngIf="notlogin">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">సేవలు</a>
                    <ul class="sub-menu">
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/institute" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">క్రైస్తవ సంస్థలు</a>
                        </li>
                          <!-- <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/gallery" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Photo Gallery</a>
                        </li>   -->
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/marriages" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">వివాహాలు </a>
                        </li>
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/jobs" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">ఉద్యోగాలు</a>
                        </li>
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/help" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">సహాయం కొరకు</a>
                        </li>
                       
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/business" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"> Search Bussiness / House Rent
                                Information</a>
                        </li>
                        
                        <!-- <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/videospage" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Video Gallery </a>
                        </li> -->
                        <!-- <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/attack" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Attacks on AP Christians</a>
                        </li>  -->
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/wings" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">JBAC Wings Information </a>
                        </li>
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/organization" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Search Organisations </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children" *ngIf="login">
                    <a (click)="alert()">అకౌంట్</a>
                </li>
                <li class="menu-item menu-item-has-children" *ngIf="notlogin">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">అకౌంట్</a>
                    <ul class="sub-menu">
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/addchurchtimings" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Adding Church Timings</a>
                        </li>
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/addinstitute" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Adding Institutes Under
                                Ministry</a>
                        </li>
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/addmeetings" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Submit Meetings Information</a>
                        </li> 
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/addbusiness" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Submit Your Business
                                Information</a>
                        </li>
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/addmarriages" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Register for Marriage Aliance</a>
                        </li>
                         <!-- <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/addattacks" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Submit information about Attacks
                                on Christians </a>
                        </li>  -->
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/addjobs" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"> Submit Employment Requirement</a>
                        </li>
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/addads" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Submit Ads Information</a>
                        </li>

                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/update" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Edit Your Profile</a>
                        </li>
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/leaders" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">If you opted as a Leader</a>
                        </li>
                        <li class="menu-item" *ngIf="notlogin">
                            <a routerLink="/downloads" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Downloads</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="nav-add-btn" *ngIf="login">
                        <a routerLink="/login" style="color: rgb(255, 255, 255); font-weight: bold;"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login </a>
                    </div>
                </li>
                <li class="menu-item">
                    <div *ngIf="notlogin">
                        <img src="assets\images\user.jpg" style="height: 30px;width:30px;">
                    </div>
                    <ul class="sub-menu">
                        <li class="menu-item" *ngIf="notlogin">
                            <a>Username : {{name}}</a>
                        </li>

                        <li class="menu-item" *ngIf="notlogin">
                            <a (click)="logout()">Logout</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>    
    </div>
    </div>
    <div class="mask"></div>
</div>