<!-- Breadcrumbs -->
<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner inner-bg6">
        <div class="content_wrap">
            <!-- <h1 class="page_title">Signup/Register</h1> -->
            <div class="breadcrumbs">
                <!-- <a class="breadcrumbs_item home" href="index.html">Home</a> -->
                <span class="breadcrumbs_delimiter"></span>
                <!-- <span class="breadcrumbs_item current">Signup/Register</span> -->
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumbs -->
<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <div>
        <section class="gradient-custom">
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Adding Institutes</h3>
                                <form [formGroup]="addinginsututies">
                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline">
                                                <label class="form-label">Type Of Owner</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" value="1"
                                                        (change)="churchchange($event.target)"
                                                        formControlName="checkbox">
                                                    <label class="form-check-label">Believer</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" value="2"
                                                        (change)="churchchange($event.target)"
                                                        formControlName="checkbox">
                                                    <label class="form-check-label">Pastor</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4" *ngIf="form==1">
                                            <label class="form-label" for="church_name">Search Believer Name <span
                                                    style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                            <input class="form-control" type="text"
                                                (keyup)="filterbelivers($event.target)">
                                        </div>

                                        <div class="col-md-6 mb-4 pb-2" *ngIf="form==1">
                                            <div class="form-outline">
                                                <label class="form-label">Believer<span
                                                        style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                                <select class="form-control" formControlName="believer_id"
                                                    style="height:37px;width: 273px;"
                                                    [ngClass]="{'is-invalid': submitted && i['believer_id'].errors }">
                                                    <option value="" selected disabled>Select Believer Name</option>
                                                    <option value="{{item.id}}" *ngFor="let item of bliversdata">
                                                        {{item.fname}}
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted && i['believer_id'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="i['believer_id'].errors['required']">Believer is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline">
                                                <label class="form-label">Type Of Ministry</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" value="Ministry"
                                                        (change)="ministryad($event.target)" formControlName="ministry">
                                                    <label class="form-check-label">Ministry</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        value="Indepedent Ministry" (change)="ministryad($event.target)"
                                                        formControlName="ministry">
                                                    <label class="form-check-label">Indepedent Ministry</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4" *ngIf="minini">
                                            <div class="form-outline">
                                                <label class="form-label">Ministry </label>
                                                <select class="form-control" formControlName="ministry_id">
                                                    <option value="" selected disabled>Select the Ministry </option>
                                                    <option *ngFor="let i of ministryname" value="{{i.id}}">
                                                        {{i.ministryname}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label">Institute Name<span
                                                        style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                                <input type="text" formControlName="institutename" class="form-control"
                                                    placeholder="Institute Name"
                                                    [ngClass]="{'is-invalid': submitted && i['institutename'].errors }">
                                                <div *ngIf="submitted && i['institutename'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="i['institutename'].errors['required']">Institute Name is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline">
                                                <label class="form-label">College Type<span
                                                        style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                                <select class="form-control" formControlName="collegetype"
                                                    style="height:37px;width: 273px;"
                                                    [ngClass]="{'is-invalid': submitted && i['collegetype'].errors }">
                                                    <option value="" selected disabled>Select College Type</option>
                                                    <option value="Biblecollege">Bible College</option>
                                                    <option value="PlaySchool">Play School</option>
                                                    <option value="HighSchool">High School</option>
                                                    <option value="Inter">Inter</option>
                                                    <option value="Degree/Engneering">Degree/ Engneering</option>
                                                    <option value="PGCollege">PG College</option>
                                                </select>
                                                <div *ngIf="submitted && i['collegetype'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="i['collegetype'].errors['required']">College Type is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label">Courses Offered<span
                                                        style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                                <input type="text" formControlName="courses" class="form-control"
                                                    placeholder="Enter Your courses"
                                                    [ngClass]="{'is-invalid': submitted && i['courses'].errors }" />
                                                <div *ngIf="submitted && i['courses'].errors" class="invalid-feedback">
                                                    <div *ngIf="i['courses'].errors['required']">Courses Offered is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label">Phone Number<span
                                                        style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                                <input type="text" formControlName="phonenumber" class="form-control"
                                                    [ngClass]="{'is-invalid': submitted && i['phonenumber'].errors }"
                                                    maxlength="10" minlength="10" (keypress)="numericOnly($event)" />
                                                <div *ngIf="submitted && i['phonenumber'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="i['phonenumber'].errors['required']">Phone Number 1 is
                                                        required</div>
                                                    <div *ngIf="i['phonenumber'].errors['minlength']">Less than 10
                                                        digits</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label">Photo</label>
                                                <input type="file" formControlName="image" class="form-control"
                                                    (change)="onImageChangeins($event)" />


                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label">Address<span
                                                        style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                                <textarea type="text" formControlName="address" class="form-control"
                                                    placeholder="Enter Your Address"
                                                    [ngClass]="{'is-invalid': submitted && i['address'].errors }"></textarea>
                                                <div *ngIf="submitted && i['address'].errors" class="invalid-feedback">
                                                    <div *ngIf="i['address'].errors['required']">Address is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label">Youtube</label>
                                                <input type="text" formControlName="youtube" class="form-control"
                                                    placeholder="Enter Your Youtube" />

                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label">Website</label>
                                                <input type="text" formControlName="website" class="form-control"
                                                    placeholder="Enter Your Website" />

                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label">Description</label>
                                                <input type="text" formControlName="description" class="form-control"
                                                    placeholder="Enter Your Description" />

                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label">మీ ఫేస్‌బుక్ ఛానల్</label>
                                                <input type="text" formControlName="facebook" class="form-control"
                                                    placeholder="ఇక్కడ క్లిక్ చేసి నమోదు చేయండి" />

                                            </div>
                                        </div>


                                        <div class="card shadow-2-strong card-registration"
                                            style="border-radius: 15px;">
                                            <p>&nbsp;&nbsp; Address</p>

                                            <div class="row">


                                                <div class="col-md-6 mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <label class="form-label">Select Districts<span
                                                                style="color:red; -webkit-text-stroke-width:thick;">*</span>
                                                        </label>
                                                        <select class="form-control" formControlName="district_id"
                                                            [ngClass]="{'is-invalid': submitted && i['district_id'].errors }"
                                                            (change)="getconstency($event);"
                                                            style="height:37px;width: 273px;">
                                                            <option value="" selected disabled>ఇక్కడ క్లిక్ చేసి ఎంచుకోండి</option>
                                                            <option value="{{item.id}}" *ngFor="let item of districts">
                                                                {{item.distrct_nm}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="submitted && i['district_id'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="i['district_id'].errors['required']">District is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <label class="form-label">నియోజకవర్గం ఎంచుకోండి<span
                                                                style="color:red; -webkit-text-stroke-width:thick;">*</span>
                                                        </label>
                                                        <select class="form-control" formControlName="constituency_id"
                                                            [ngClass]="{'is-invalid': submitted && i['constituency_id'].errors }"
                                                            (change)="getmandals($event);"
                                                            style="height:37px;width: 273px;">
                                                            <option value="" selected disabled>ఇక్కడ క్లిక్ చేసి ఎంచుకోండి</option>
                                                            <option value="{{item.id}}"
                                                                *ngFor="let item of constituency">
                                                                {{item.const_nm}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="submitted && i['constituency_id'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="i['constituency_id'].errors['required']">
                                                                Constituency
                                                                is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6 mb-4 pb-2" *ngIf="form==2">
                                                    <div class="form-outline">
                                                        <label class="form-label">Pastor<span
                                                                style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                                        <select class="form-control" formControlName="pastor_id"
                                                            style="height:37px;width: 273px;" (click)="pastorfilter()"
                                                            [ngClass]="{'is-invalid': submitted && i['pastor_id'].errors }">
                                                            <option value="" selected disabled>Select pastor Name
                                                            </option>
                                                            <option value="{{item.id}}"
                                                                *ngFor="let item of getpastorassciationas">
                                                                {{item.pastorname}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="submitted && i['pastor_id'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="i['pastor_id'].errors['required']">Pastor is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <label class="form-label">Location</label>
                                                        <input type="text" formControlName="location"
                                                            class="form-control" placeholder="Enter Your location" />

                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">



                                                <div class="col-md-6 mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <label class="form-label">Select Mandal<span
                                                                style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                                        <select class="form-control" formControlName="mandal_id"
                                                            [ngClass]="{'is-invalid': submitted && i['mandal_id'].errors }"
                                                            (change)="gepanchayati($event);"
                                                            style="height:37px;width: 273px;">
                                                            <option value="" selected disabled>ఇక్కడ క్లిక్ చేసి ఎంచుకోండి</option>
                                                            <option value="{{item.id}}" *ngFor="let item of mandals">
                                                                {{item.mndl_nm}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="submitted && i['mandal_id'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="i['mandal_id'].errors['required']">Mandal
                                                                is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <label class="form-label">పంచాయతీ ఎంచుకోండి<span
                                                                style="color:red; -webkit-text-stroke-width:thick;">*</span>
                                                        </label>
                                                        <select class="form-control" formControlName="village_id"
                                                            [ngClass]="{'is-invalid': submitted && i['village_id'].errors }"
                                                            style="height:37px;width: 273px;">
                                                            <option value="" selected disabled>ఇక్కడ క్లిక్ చేసి ఎంచుకోండి</option>
                                                            <option value="{{item.id}}" *ngFor="let item of panchayati">
                                                                {{item.pnchyt_nm}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="submitted && i['village_id'].errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="i['village_id'].errors['required']">Village
                                                                is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <br>
                                        </div>
                                        <br>
                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline">
                                                <label class="form-label">Terms And Conditions<span
                                                        style="color:red; -webkit-text-stroke-width:thick;">*</span></label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" value="YES"
                                                        formControlName="term" checked
                                                        [ngClass]="{'is-invalid': submitted && i['term'].errors }" />
                                                    <label class="form-check-label">YES</label>
                                                    <div *ngIf="submitted && i['term'].errors" class="invalid-feedback">
                                                        <div *ngIf="i['term'].errors['required']">Terms And
                                                            Conditions
                                                            is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </form>
                                <div class="row">
                                    <div class="col-md-2 mb-4 pb-2">
                                    </div>
                                    <div class="col-md-2 mb-4 pb-2">
                                    </div>
                                    <div class="col-md-2 mb-4 pb-2">
                                        <button type="submit" class="default-btn  user-all-btn"
                                            (click)="postinsututies()">Register
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /Header Mobile -->

<br><br>

<ng-template #serviceadding let-modal>


    <div class="row">
        <div class="col-lg-12">
            <div class="card-body" style=" padding: 44px;">
                <div class="mb-3">
                    <marquee>
                        <h4 class="modal-title mt-0" style="color: blue;">Add service Type</h4>
                    </marquee>
                    <h5>Service Name</h5>
                    <input type="text" class="form-control" [(ngModel)]="ProofValue" placeholder="Enter service Name" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modalDismiss()">Close</button>
                    <button type="submit" class="btn btn-primary" (click)="addNewSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<div class="my-overlay" *ngIf="showSpinner">
    <div class="cusloader"></div>
    <h5 style="color: white;">Please Wait...</h5>
</div>