<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner inner-bg6">
        <div class="content_wrap">
            <h1 class="page_title">Terms&Conditions</h1>
        </div>
    </div>
</div>
<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>
    <section>

        <div class="container">
            <div class="event-detail-content-inner w-100">
                <h5 style='font-size:26px;color: brown;'>TERMS OF SERVICE </h5>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp;
                        The Platform is enables its registered members to access their weekly church attendance, access
                        free services offered by the Calvary church (here in after referred as the Church).</i>
                </p>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; The platform facilitates its
                        registered members to donate money to the church, or donate for a specific cause such as
                        building a new church, or provide weekly or monthly offering to the church. </i>
                </p>


                <br>

                <h5 style='font-size:26px;color: brown;'>REGISTRATION</h5>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; Registration on the Platform is
                        mandatory. To avail any service offered by the Platform, registration is mandatory for all users
                        of the Platform. The Clients can register by providing the following information:</i>
                </p>

                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; a.Name
                    </i></p>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; b.Date of Birth
                    </i>
                </p>

                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; c.Gender
                    </i></p>

                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; d.Address & Location
                    </i></p>

                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; e.Mobile Number 
                    </i></p>
                <br>
                <h5 style='font-size:26px;color: brown;'>CONTENT</h5>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp;
                        All context, text, graphics,
                        write-ups, videos, User interfaces, visual interfaces, photographs, trademarks, logos,
                        brand names, descriptions, sounds, music and
                    </i></p>
                <p class="mb-0"> <i style='font-size:24px' class="fa">&#xf0a4; &nbsp; You are solely responsible for the
                        integrity, authenticity, quality and genuineness of the content provided on the platform and
                        whilst feedback and comments by You can be made via the platform, We bear no liability
                        whatsoever for any feedback or comments made by other Users or made in respect of any of the
                        content on the platform. Further, the platform reserves its right to suspend the account of any
                        User </i></p>
            </div>
        </div>
    </section>
</div>
