<br>
<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>
    <section class="blog-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p style="text-align: justify;
                   font-size: 20px;
                   line-height: 35px; color: blue;
               ">విశ్వాసులకు మరియు పాస్టర్లకు వున్నా అవకాశాలు గురుంచి జూమ్ మరియు సాధారణ ఫోన్ ద్వారా మీటింగ్ జాయిన్
                        అవుటకొరకు ఫ్రీ రిజిస్ట్రేషన్, టైం స్లాట్ బుకింగ్ గురుంచి క్లిక్ చేయండి</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <p style="text-align: justify;
                   font-size: 20px;
                   line-height: 35px; color: red;
               ">ఈ క్రింది విభాగాలలో పనిచేసేవారు జాయిన్ అవ్వుటకు మరియు విభాగాలకు లీడర్ గ ఉండుటకు రిజిస్ట్రేషన్
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div style="border:solid green">
                        <ol>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Drivers / డ్రైవర్స్ .
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>


                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Social media.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Paper media.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Electronic media.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Software / IT Wing.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Political Wing.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Business Wing.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Retired Wing.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Social Service.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Singers &amp; writers Musicians.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Christian News Paper wing.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                        </ol>
                    </div>
                </div>
                <div class="col-6">
                    <div style="border:solid green">
                        <ol>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    YouTube wing.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Lawyers/Advocates.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Teachers.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Placement wing.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Financiers wing.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Engineers.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Doctors.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Police.
                                </a>
                            </li><a class="top_parent" href="/signup"
                                style="color:red;font-size:18px;line-height:18px;"> </a>
                            <li style="font-size:18px;margin-right:8px;text-align:justify;">
                                <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                                    Other.
                                </a>
                            </li>

                            <a class="top_parent" href="/signup" style="color:red;font-size:18px;line-height:18px;">
                            </a>
                        </ol>
                    </div>
                </div>

            </div>
            <br>
            <br>
            <div class="col-12">
                <p style="text-align: justify;
                font-size: 20px;
                line-height: 35px; color: rgb(20, 191, 163);
            ">
                    ఆంధ్ర ప్రదేశ్ లోని దాదాపు అన్ని మెయిన్‌లైన్ చర్చిలు, పెద్ద సమూహం కలిగిన చర్చిలు, ఇండిపెండెంట్ చర్చి
                    బిషప్‌లు & చర్చి హెడ్‌లు, క్రిస్టియన్ అసోసియేషన్ నాయకులు, క్రిస్టియన్ మీడియా, క్రిస్టియన్ సింగర్స్,
                    మ్యూజిషియన్స్, క్రిస్టియన్ న్యూస్ మ్యాగజైన్‌, IAS నుండి అటెండర్, లేబర్ నుండి ల్యాండ్ లార్డ్ మరియు
                    పాస్టర్ నుండి బిషప్ లతో అసోసియేట్ చేయడం ద్వారా AP రాష్ట్రంలోని క్రిస్టియన్ కమ్యూనిటీ కోసం పని
                    చేస్తున్నాము.
                    ఇప్పటివరకు సుమారు 110 బిషప్‌లు & చర్చి హెడ్‌లతో మాట్లాడగలిగాను, 40,000 మంది పాస్టర్లతో మెసేజ్ ద్వారా
                    కమ్యూనికేట్ కాగలిగాము.
                </p>
            </div>
            <div class="col-12">
                <p style="text-align: justify;
                font-size: 20px;
                line-height: 35px; color: rgb(20, 191, 163);
            ">
                    ఇప్పటివరకు సుమారు 110 బిషప్‌లు & చర్చి హెడ్‌లతో మాట్లాడగలిగాను, 40,000 మంది పాస్టర్లతో మెసేజ్ ద్వారా
                    కమ్యూనికేట్ కాగలిగాము.
                    జిల్లా, నియోజక వర్గం, మున్సిపాలిటీ, మండల్, పంచాయత్, వార్డ్ నాయకులుగా ఉండటానికి ఇష్టము వున్న వారు ,
                    మాకు మెసేజ్ గాని, వాట్సాప్ ఆడియో రికార్డింగ్ గాని చేసి పంపించండి ఫోన్ కాల్ చేయవద్దు, ఫోన్
                    7075482182. మీరు ఇతర క్రిస్టియన్ అసోసియేషన్ లోలైన ఉండవచ్చు అభ్యతరం లేదు, ఎందుకంటే మనం అందరితో కలిసే
                    చేస్తున్నాము.నాయకులుగా ఉండగోరె వారు పాస్టర్లఐన, వుద్యోగం, పని చేసుకునే విశ్వాసులు ఐన పర్వాలేదు, వారు
                    చేసే పని చిన్నదే.
                </p>
            </div>
        </div>
    </section>
</div>