<!-- scroll begin -->
<div class="latest-news-block" style="background-color:#ccc;color: #fb0404;font-family: Ramabhadra,sans-serif!important;font-size:larger;">
    <div class="latest-news-block-hightlight">
        <div class="latest-update-block"> <span class="block-2"> News </span>
            <div style="overflow:hidden">
                <marquee behavior="scroll" direction="left" scrolldelay="15" scrollamount="1" truespeed="10"
                    onmouseover="this.stop()" onmouseout="this.start()" style="height:30px; white-space: nowrap">
                    <div class="tickercontainer">
                        <span
                            class="ad-blk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/churchgo">చర్చి పర్మిషన్ గవర్నమెంట్ ఆర్డర్స్</a>
                        <span
                            class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;</span>
                        <a href="/techsol">మీ చర్చికి మా టెక్నికల్ సొల్లుషన్స్</a>
                        <span
                            class="polls-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/webhelp">వెబ్ సైట్ ఎలా ఉపయోగించాలి</a>
                            <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/addattacks">క్రైస్తవులపై దాడుల నమోదు</a>
                        <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/survey-news">క్రైస్తవులకి ప్రభుత్వం సేవలు మీద సర్వే</a>

                        <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="https://forms.gle/uJiLXp74FZmQAkKe7">క్రైస్తవుల కోసం ప్రభుత్వం తరుపున నామినేటెడ్ పోస్ట్ ల లో ఎంతమంది వున్నారో, వారి జీత భత్యాలు తెలుసుకోండి, వారు మీకు ఎలా ఉపయోగ పడుతున్నారో ఆప్షన్స్ సెలెక్ట్ చేయుటకు ఈ లింక్ క్లిక్ చేయండి</a>

                        <!-- <span class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="/addattacks">క్రైస్తవులపై దాడుల నమోదు</a> -->

                    </div>
                </marquee>
            </div>
        </div>
    </div>
</div> 
<!-- scroll end -->
<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>
    <div class="container" style="background-color: #ccc;padding: 2%;">
        <div class="row pt-45">
    <h2
    style="text-align: center;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
    <u>క్రైస్తవుల కోసం ప్రభుత్వం తరుపున నామినేటెడ్ పోస్ట్ ల లో ఎంతమంది వున్నారో, వారి జీత భత్యాలు తెలుసుకోండి</u>
</h2>
<p
    style="text-align: justify;line-height: 35px; font-size:25px; font-family: Ramabhadra,sans-serif!important;">
    వారు మీకు ఎలా ఉపయోగ పడుతున్నారో ఆప్షన్స్ సెలెక్ట్ చేయండి, 
    <a href="https://forms.gle/uJiLXp74FZmQAkKe7">ఈ లింక్ క్లిక్ చేసి సెలెక్ట్ చేయండి</a>
    అన్ని సెలెక్ట్ చేసిన తర్వాత క్రింద గోధుమ రంగు సబ్మిట్ బటన్ నొక్కండి <br>

    మీ ఫేస్ బుక్, వాట్స్ యాప్ గ్రూప్స్, మీ విస్వవాసులు గ్రూప్స్ లోనూ పోస్ట్ చేయండి, ఎంత ఎక్కువ మంది సబ్మిట్ చేస్తే అంత ఎక్కువగా వారి పని తనం CM జగన్ మోహన్ రెడ్డి గారికి తెలుస్తోంది.  
</p>
   
            <h2
                style="text-align: center;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
                <u>ఆంధ్రప్రదేశ్లో కుల-మత  గణనలో క్రైస్తవులకు అన్యాయం జరుగుతుందా</u>
            </h2>
            <p
                style="text-align: justify;line-height: 35px; font-size:25px; font-family: Ramabhadra,sans-serif!important;">
ఆంధ్రప్రదేశ్లో కుల-మత  గణనలో క్రైస్తవులకు అన్యాయం జరుగుతుందా, మీకు జరిగిన అనుభవాన్ని <a href="https://forms.gle/yxfyZeQ8Canwvwkc9">ఈ కింద లింక్ క్లిక్ చేసి సెలెక్ట్ చేయండి</a> . 

అన్ని సెలెక్ట్ చేసిన తర్వాత క్రింద గోధుమ రంగు సబ్మిట్ బటన్ నొక్కండి <br>
    
    మీ ఫేస్ బుక్, వాట్స్ యాప్ గ్రూప్స్, మీ విస్వవాసులు గ్రూప్స్ లోనూ పోస్ట్ చేయండి, ఎంత ఎక్కువ మంది సబ్మిట్ చేస్తే అంత ప్రభుత్వానికి త్వరగా నిర్ణయం తీసుకోడానికి ఉపయోగపడుతుంది. <br>
    
         </p>
     <h2
     style="text-align: center;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
     <u>సర్వే రిపోర్ట్</u>
 </h2>
     <div class="col-12">
        <img src="assets/images/kulagana1.jpg">
    </div>
    <div class="col-12">
        <img src="assets/images/kulagana2.jpg">
    </div>
    <div class="col-12">
        <img src="assets/images/kulagana3.jpg">
    </div>
</div>
</div>


