<div class="slideshow-container">

    <div class="mySlides ">

        <img src="https://jbac.in/baneers/Banner01.png" style="width:100%">
    </div>
    <div class="mySlides ">

        <img src="https://jbac.in/baneers/Banner03.png" style="width:100%">
    </div>
    <div class="mySlides ">

        <img src="https://jbac.in/baneers/Banner04.png" style="width:100%">
    </div>
    <!-- <div class="mySlides ">
        <img src="https://jbac.in/baneers/Banner02.png" style="width:100%">
    </div> -->
    <div class="mySlides ">
        <img src="https://jbac.in/baneers/Banner05.png" style="width:100%">
    </div>
    <div class="mySlides ">
        <img src="https://jbac.in/baneers/Banner06.png" style="width:100%">
    </div>
    <div class="mySlides ">
        <img src="https://jbac.in/baneers/Banner07.png" style="width:100%">
    </div>
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
    <span class="dot" (click)="currentSlide(0) ">1</span>
    <span class="dot" (click)="currentSlide(1)">2</span>
    <span class="dot" (click)="currentSlide(2)">3</span>
    <span class="dot" (click)="currentSlide(3)">4</span>
    <span class="dot" (click)="currentSlide(4)">5</span>
    <span class="dot" (click)="currentSlide(5)">6</span>
    <span class="dot" (click)="currentSlide(6)">7</span>
</div>


<div class="content">
    <div class="column-1_2 sc_column_item sc_column_item_2 even">
        <div class="sc_section">
            <div class="sc_section_inner">
                <p
                    style="font-size:x-large ; font-family:Verdana, Geneva, Tahoma, sans-serif , Times, serif; color: white; text-align:justify; line-height: 50px; ">
                    Serving Christian Community and Unite Christian Community to Serve
                    the AP State.
                </p>
                <p class="tpl_light"></p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="hp1_mission_section">
    <div class="content_wrap">
        <div class="columns_wrap sc_columns columns_fluid no_margins sc_columns_count_2">
            <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                <h2 class="sc_title sc_title_regular sc_align_right"> Mission :</h2>
            </div>
            <div class="column-1_2 sc_column_item sc_column_item_2 even">
                <div class="sc_section">
                    <div class="sc_section_inner">
                        <p
                            style="font-size:x-large ; font-family:Verdana, Geneva, Tahoma, sans-serif , Times, serif; color: white; text-align:justify; line-height: 50px; ">
                            1. Bringing all the believers into single platform including labour to
                            landlord and attender to IAS, Advocates, Doctors, Engineers, Officers,
                            Politicians, Pastors, Business Men, Students & all professionals, so
                            that helping and supporting each other.
                            <br><br>


                            2. Unite the whole Chritian Community irrespective of Denomination and
                            Caste.
                            <br><br>
                            3. Identifying Christian Political leaders from ward level,village
                            level, Mandal level, Constituency, District level to State level to
                            Serve the Community and recomending these leaders for Nominated
                            MPTC, ZPTC, Directors, Chairmans .
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-12">
    <img src="assets/images/servicesssschurch.png">
</div>

<div class="col-12">
    <img src="assets/images/register-icons.png">
</div>
<br>
<div class="col-12">
    <img src="assets/images/my.png">
</div>
