<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>
    <div class="container" style="background-color: #ccc;padding: 2%;">
        <div class="row pt-45">
          
            <h2
    style="text-align: center;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
    <u>క్రైస్తవ్యం కు సంబంధించిన గవర్నమెంట్ ఆర్డర్స్</u>
</h2><br><br><br>
<h3
style="text-align:left;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
<u>క్రిస్టియన్ వివాహ లైసెన్స్ అప్లికేషన్ రాసి దానితో పాటు జతపరచవలసినవి
</u>
</h3>
<div class="col-12">
    <img src="../../../assets/images/marraige-attach.jpg">
</div>
<P>****************************************************************************************************************************************************</P>

<br><br><br>
<h3
style="text-align:left;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
<u>క్రిస్టియన్ వివాహ లైసెన్స్ పదవీకాలం పొడిగింపు ప్రభుత్వం ఉత్తర్వులు జారీ</u>
</h3>
<div class="col-12">
    <img src="../../../assets/images/marraige-period.jpg">
</div>
<P>****************************************************************************************************************************************************</P>
<h3
style="text-align:left;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
<u>క్క్రైస్తవ సమాధి స్థలాల సేకరణ కొరకు ప్రభుత్వం ఉత్తర్వులు జారీ</u>
</h3>
<div class="col-12">
    <img src="../../../assets/images/burial-ground.jpg">
</div>
<P>****************************************************************************************************************************************************</P>

<br><br><br><br>
<h3
style="text-align:left;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
<u>మున్సిపాలిటీ పరిధిలో చర్చిల పర్మిషన్ కొరకు గవర్నమెంట్ ఆర్డర్
</u>
</h3>
     <div class="col-12">
        <img src="../../../assets/images/rc1.jpg">
    </div>
<br>

    <div class="col-12">
        <img src="../../../assets/images/rc2.jpg">
    </div>
    <div class="container" style="background-color: #ccc;padding: 2%;">
                <p
        style="text-align: justify;line-height: 35px;text-align: center; font-size:25px; font-family: Ramabhadra,sans-serif!important;">
        నేను పెట్టే వీడియోలు మీరు చూచు నట్లు, వీడియో ఛానల్ సబ్ స్క్రైబ్ చేసుకోండి<br>


 </p>
        <div class="row pt-45 pb-30" style="display: flex; flex-direction: row; justify-content: center;">
            <iframe width="70%" height="300" src="https://www.youtube.com/embed/MjDV1hHkPkY?si=oH1BfkRY5P_A70Rz"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
     
        
            
        
    </div>      <br><br>
        
        
    <p
    style="text-align: justify;line-height: 35px;text-align: left; font-size:25px; font-family: Ramabhadra,sans-serif!important;">
నా గురుంచి తెలుసుకొనుటకు <a href="/about">ఇక్కడ క్లిక్ చేయండి</a>

<br><br>                
        ..ప్రొఫెసర్ డాక్టర్ జోసఫ్ పి  మోసిగంటి. <br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          B.Tech, M.Tech, Ph.D<br>
        చైర్మన్, ఆంధ్రప్రదేశ్ జీసస్ బిలీవర్స్ అసోసియేషన్ కౌన్సిల్ (JBAC)<br>
        డైరెక్టర్, సెయింట్ మేరీస్ గ్రూప్ ఆఫ్ ఇంజినీరింగ్ కాలేజెస్,చేబ్రోలు, గుంటూరు<br>
                        
        Phone : 7075482182 (సేవ్ చేసుకొని మెసేజ్-SMS మాత్రమే చేయండి)
        
    </p>
    

</div>


    
