<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner inner-bg6">
        <div class="content_wrap">
            <h1 class="page_title">Privacy Policy</h1>
        </div>
    </div>
</div>
<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>
    <section>

        <div class="container">
            <div class="event-detail-content-inner w-100">
                <h5 style='font-size:26px;color: brown;'>Platform</h5>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp;
                        The creator of this Platform ensures a steady commitment to Your privacy with regard to the
                        protection of your invaluable information that you may share across this Platform.</i>
                </p>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; This Privacy Policy contains
                        information about the Website www.jbac.in  (hereinafter referred to as the “Platform”). </i>
                </p>

                <br>
                <h5 style='font-size:26px;color: brown;'>Privacy Policy</h5>

                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; “We”, “Our”, and “Us” shall mean
                        and refer to the Foundation or the Platform. 
                        “You”, “Your”, “Yourself”, or “User” shall mean and refer to natural and legal individuals who
                        shall be users of this Platform provided by us and who is competent to enter into binding
                        contracts, as per law.  </i>
                </p>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; “Third Parties'' refer to any
                        Mobile /web Application, platform or legal entities apart from the Users and the Foundation. The
                        Platform provides You with Our uninterrupted use of the platform. We may collect and, in some
                        circumstances, disclose information about you with your permission. To ensure better protection
                        of Your privacy, We provide this notice explaining Our information collection and disclosure
                        policies, and the choices You make about the way Your information is collected and used.   </i>
                </p>

                <br>

                <h5 style='font-size:26px;color: brown;'>Our Use Of Your Information</h5>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; a.To provide you with services on
                        your request.</i>
                </p>

                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; b.For maintaining an internal
                        record.</i></p>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; c.For enhancing the Services
                        provided.</i>
                </p>

                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; d.For maintaining record under the
                        legal and statutory provisions.</i></p>
                <br>
                <h5 style='font-size:26px;color: brown;'>Changes to Privacy Policy</h5>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; We may update this Privacy Policy
                        from time to time. The updated Privacy Policy will be posted on our website. </i></p>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; By visiting, making a
                        donation or
                        transaction through, or registering with the Sri Ainavalli website.</i></p>
                <p class="mb-0"> <i style='font-size:24px' class="fa">&#xf0a4; &nbsp; Your continued use of our website
                        after the updated Privacy Policy is posted will indicate your acceptance of the changes.</i></p>

                <br>


                <h5 style='font-size:26px;color: brown;'>HOW INFORMATION IS COLLECTED</h5>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; Before or at the time of
                        collecting personal information, we will identify the purposes for which information is being
                        collected. If the same is not identified to you, you have the right to request the Foundation to
                        elucidate the purpose of collection of said personal information, pending the fulfilment of
                        which you shall not be mandated to disclose any information whatsoever.
                    </i></p>

                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp;
                        We will collect and use your personal information solely to fulfil those purposes specified by
                        us, within the scope of the consent of the individual concerned or as required by law. We will
                        only retain personal information as long as necessary for the fulfilment of those purposes. We
                        will collect personal information by lawful and fair means and with the knowledge and consent of
                        the individual concerned.
                    </i></p>
                <br>

                <h5 style='font-size:26px;color: brown;'>Shipping & Delivery</h5>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; We can’t provide any shipping and
                        deliveries.</i></p>

                <br>



                <h5 style='font-size:26px;color: brown;'>EXTERNAL LINKS ON THE PLATFORM</h5>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; The Platform may include
                        advertisements, hyperlinks to other Platforms. We have no control over any other Platforms or
                        resources or contents available on these other Platforms</i></p>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; You acknowledge and agree that We
                        are not liable for any loss or damage which may be incurred by you as a result of the
                        availability of those external sites or resources, or as a result of any reliance placed by you
                        on the completeness, accuracy or existence of any advertising, services or other materials on,
                        or available from, such Platforms.</i></p>
                <p class="mb-0"> <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; These external third-party
                        Platforms and resource providers may have their privacy policies governing the collection,
                        storage, retention and disclosure of Your Personal Information that You may be subject to. We
                        recommend that you enter the Platform and review its Privacy Policy.</i></p>
                
            </div>
        </div>
    </section>
</div>
<br><br>