<br><br>
<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <div class="blog-area pt-100 pb-70">

        <div class="container">
            <div class="row">
                <div class="section-title text-center">

                    <marquee>
                        <h2>Latest Images <b>Post</b></h2>
                    </marquee>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-3 col-md-6"
                        *ngFor="let img of gallery| paginate: { itemsPerPage: 50, currentPage: page }">
                        <div class="blog-card">
                            <img src="{{img.image}}" alt="Images" style="width: 250px; height: 250px;"
                                (click)="openimg(img.image,openmodel)">
                        </div>
                        <br>

                        <div class="content">
                            <h3 style="text-align:center;margin-right:49px">{{img.image_name}}
                            </h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<ng-template #openmodel let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0 ">Image</h5>
        <button type="button" class="close" aria-hidden="true" (click)="proofmodalDismis()">×</button>
    </div>

    <img src={{image}}>

</ng-template>