<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>
    <div class="container" style="background-color: #ccc;padding: 2%;">
        <div class="row pt-45">
    <h2
    style="text-align: center;color: #fb0404;font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
    <u>నేను పుట్టిన ఆంధ్రప్రదేశ్ రాష్ట్రంలో నా క్రైస్తవ సమాజం కోసం నేను ఏమిచేసాను</u>
</h2>

<h4
style="text-align: right;color: rgb(0, 0, 0);font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
<u>నాకుటుంబం కోసం ప్రార్ధించండి,   JBAC చైర్మన్ ,  ..ప్రొఫెసర్ డాక్టర్ జోసెఫ్ పి .మోసిగంటి, B.Tech, M.Tech, Ph.D</u>
</h4>
<h3
style="text-align: right;color: rgb(0, 0, 0);font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
<u>  ఆంధ్రప్రదేశ్ క్రైస్తవ నాయకుడు</u>
</h3>
<h3
style="text-align: right;color: rgb(0, 0, 0);font-weight: 500;font-family: cursive;font-family: Ramabhadra,sans-serif!important;">
<u>  మాజీ డైరెక్టర్, సెయింట్ మేరీస్ గ్రూప్ ఆఫ్ ఇంజినీరింగ్ కాలేజెస్, చేబ్రోలు, గుంటూరు</u>
</h3>
           
            <p
                style="text-align: justify;line-height: 35px; font-size:25px; font-family: Ramabhadra,sans-serif!important;">
                క్రైస్తవ సమాజం పట్ల జరుగుతున్న దాడులు, చర్చిలు  మీద దాడులు, సువార్త చెప్పకుండా అడ్డంకులు,  కేసులు ఇవన్నీ చూసి నా మనసు చాలా నలిగిపోయింది,  కాబట్టి నేను జాబు చేయకుండా, నేను సమాజం కోసం ఒక వాయిస్ గా ఉండాలి అని అనిపించింది, పాస్టర్లు చక్కగా చర్చిలకు కట్టుకునేటట్టు, సువార్త చేసుకునేటట్టు తర్వాత క్రైస్తవులు నిరభ్యంతరంగా వాళ్లపై ఎక్సర్సైజ్ చేసుకునేటట్టు ప్రార్థనలు చేసుకునేటట్టు వర్క్ చేస్తున్నాను. <br><br>
                క్రైస్తవ సమాజం యొక్క సమస్యలను ప్రభుత్వం దృష్టికి తీసుకెళ్లడం, మత సామర్ధ్యం దెబ్బ తినకుండా చూడడం, క్రైస్తవ సమాజానికి సేవ చేయడం
.ఆంధ్రప్రదేశ్ రాష్ట్రంలో కోటిమంది ఏసుప్రభు నమ్ముకున్న వారు కోటి మంది ఉంటాం. మనకు ధన బలం లేకపోయినా, జన బలం ఉంది దేవుని సహాయానికి తోడు. ప్రభుత్వాలు కూడా మనకు సహాయం చేస్తాయి.
                <br><br>క్రైస్తవ సమాజం యొక్క అవసరాలకు తగ్గట్టు సమాచారం ఇవ్వడం, ఒకరికి ఒకరు సహాయం చేసుకునేటట్టు చూడడం.నాకోసం నా కుటుంబం కోసం ప్రార్థించండి.
                ఇప్పటివరకు, నేను ఒక్కడినే రాత్రి పగలు కష్టపడ్డాను. ఎక్కువమందితో కమ్యూనికేషన్ అయిపోవడం వల్ల డైరెక్టుగా మాట్లాడలేక పోతున్నాను, ఇంకొక వీక్నెస్ ఏంటంటే నేను మాట్లాడితే అర్థగంట నుంచి గంట మాట్లాడుతాను. 9281506386 ఫోన్ నెంబర్ కి ఫోన్ చేసి  రికార్డ్ చేయండి, తర్వాత  మీకు మరల ఫోన్ చేస్తాం.
                
                <br><br>వివరాలు పొందడానికి ఈ నెంబర్ కూడా 9281506386 సేవ్ చేసుకోండి లేదా వెబ్ సైట్ అయినా చూడవచ్చు. కొన్ని వేల రూపాయలు పెట్టి ఎక్విప్మెంట్, సాఫ్ట్వేర్లు కొని ఆటోమైజ్ చేసేసాను.నాకు సమాజం పట్ల ఉన్న అంకితభావం వలన నాకున్నది ఖర్చు చేసేసాను. నేను రెండు లక్షలు జీతం వదిలేసి నా ఖర్చులు నిమిత్తము పార్ట్ టైం డైరెక్టర్ గా పనిచేస్తున్నాను, నాకు దేవుడు ఏదో విధంగా సహాయం చేస్తాడని నమ్మకం.
                 
    
                <br><br>
        నేను పెట్టే వీడియోలు మీరు చూచు నట్లు, వీడియో ఛానల్ సబ్ స్క్రైబ్ చేసుకోండి<br><br>
        నా సాక్షం వీడియో

 </p>
        <div class="row pt-45 pb-30" style="display: flex; flex-direction: row; justify-content: center;">
            <iframe width="70%" height="300" src="https://www.youtube.com/embed/xKb9CQvHYUQ?si=C2GoTyHg1-UBJgnz"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
     
        
            
        
    </div>      <br><br>
        
        
    <p
    style="text-align: justify;line-height: 35px;text-align: left; font-size:25px;margin-top: 40px; font-family: Ramabhadra,sans-serif!important;">
                
        ..ప్రొఫెసర్ డాక్టర్ జోసఫ్ పి  మోసిగంటి. <br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          B.Tech, M.Tech, Ph.D<br>
                     ఆంధ్రప్రదేశ్ క్రైస్తవ నాయకుడు<br>
        చైర్మన్, ఆంధ్రప్రదేశ్ జీసస్ బిలీవర్స్ అసోసియేషన్ కౌన్సిల్ (JBAC)<br>
         మాజీ డైరెక్టర్, సెయింట్ మేరీస్ గ్రూప్ ఆఫ్ ఇంజినీరింగ్ కాలేజెస్,చేబ్రోలు, గుంటూరు<br>
                        
        Phone : 9281506386 (సేవ్ చేసుకొని వాట్స్ యాప్  హలో గానీ hi గానీ టైపు చేయండి, SMS పనిచేయదు)
     <!-- <br><br>
     . నా ఫోన్ నెంబర్ తో పాటు, నా పేరు, నా వివరాలు, సేవ్ చేసుకోవడానికి ఈ లింక్ ఓపెన్ చేసి <a href="https://save-jbac-contact.jbac.in">ఇక్కడ క్లిక్ చేయండి</a>   సేవ్ బటన్ అని ఉంటది దాన్ని క్లిక్ చేసి డౌన్లోడ్ అయిన తర్వాత ఓపెన్ చేసి, ఇంపోర్ట్ క్లిక్ చేసి, జిమెయిల్ గాని, ఫోన్ గాని క్లిక్ చేసి, సేవ్ చేసుకుంటే మీ కాంటాక్ట్స్ లో అన్ని వివరాలు సేవ్ అయిపోతాయి. అయ్యా నేను 40 వేల మందికి మెసేజ్ పంపించాను, మీరు తిరిగి నాకు వాట్ సేప్(WhatsApp) లో మెసేజ్,వీడియోలు , ఫోటోలు పెట్టవద్దు, దయచేసి అర్థం చేసుకోండి    -->
    </p>
    

</div>


    

<!-- <div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner inner-bg6">
        <div class="content_wrap">
            <h1 class="page_title">About Us</h1>
             <div class="breadcrumbs">
                <a class="breadcrumbs_item home" href="index.html">Home</a>
                <span class="breadcrumbs_delimiter"></span>
                <span class="breadcrumbs_item current">About Our Church</span>
            </div> 
        </div>
    </div>
</div>

<br>
<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>

    <div class="page_content_wrap page_paddings_no">
       
        <div class="about-area">
            <div class="container">
                <div class="row" *ngFor="let item of about">
                    <h2 style="text-align: center;" class="prevent-select"><b><u>{{item.title}}</u></b></h2>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-title">
                                <p style="text-align: justify;font-family: system-ui;
                                font-weight: 800;" class="prevent-select"><b>{{item.para1}}</b>
                                </p>
                                <p style="text-align: justify;  font-family: system-ui;
                                font-weight: 800;" class="prevent-select"><b>{{item.para2}}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="{{item.image}}" alt="image" style="height:252px;width:250px;"
                                class="prevent-select">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="about-content">
                            <div class="section-title">
                              
                                <p style="text-align: justify;  font-family: system-ui;" class="prevent-select">
                                    <b>{{item.para3}}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div> 

<br>
<br>

<div class="my-overlay" *ngIf="showSpinner">
    <div class="cusloader"></div>
    <h5 style="color: white;">Please Wait...</h5>
</div>
-->