<div class="slideshow-container">

    <div class="mySlides ">

        <img src="https://jbac.in/baneers/Banner01.png" style="width:100%">
    </div>
    <!-- <div class="mySlides ">
        
        <img src="https://jbac.in/baneers/Banner08.png" style="width:100%">
    </div> -->

    <div class="mySlides ">
        
        <img src="https://jbac.in/baneers/Banner03.png" style="width:100%">
    </div>
    <div class="mySlides ">

        <img src="https://jbac.in/baneers/Banner04.png" style="width:100%">
    </div>
    <div class="mySlides ">
        <!-- <div class="numbertext">4 / 7</div> -->
        <img src="https://jbac.in/baneers/Banner02.png" style="width:100%">
    </div>
    <div class="mySlides ">
        <!-- <div class="numbertext">5 / 4</div> -->
        <img src="https://jbac.in/baneers/Banner05.png" style="width:100%">
    </div>
    <div class="mySlides ">
        <!--   <div class="numbertext">6 / 7</div> -->
        <img src="https://jbac.in/baneers/Banner06.png" style="width:100%">
    </div>
    <div class="mySlides ">
        <!-- <div class="number>text">7 / 7</div> -->
        <img src="https://jbac.in/baneers/Banner07.png" style="width:100%">
    </div>
    
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
    <span class="dot" (click)="currentSlide(0) ">1</span>
    <span class="dot" (click)="currentSlide(1)">2</span>
    <span class="dot" (click)="currentSlide(2)">3</span>
    <span class="dot" (click)="currentSlide(3)">4</span>
    <span class="dot" (click)="currentSlide(4)">5</span>
    <span class="dot" (click)="currentSlide(5)">6</span>
    <span class="dot" (click)="currentSlide(6)">7</span>
    <span class="dot" (click)="currentSlide(7)">8</span>

</div>

 <!-- <div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <div class="page_content_wrap ">
        <div class="content">
            <article class="post_item post_item_single page">
                <section class="post_content">
                    <div class="hp1_mission_section">
                        <div class="content_wrap">
                            <div class="columns_wrap sc_columns columns_fluid no_margins sc_columns_count_2">
                                <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                                    <h2 class="sc_title sc_title_regular sc_align_right">JBAC Vision :</h2>
                                </div>
                                <div class="column-1_2 sc_column_item sc_column_item_2 even">
                                    <div class="sc_section">
                                        <div class="sc_section_inner">
                                            <p
                                                style="font-size:x-large ; font-family:Verdana, Geneva, Tahoma, sans-serif , Times, serif; color: white; text-align:justify; line-height: 50px; ">
                                                Serving Christian Community and Unite Christian Community to Serve
                                                the AP State.
                                            </p>
                                            <p class="tpl_light"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="hp1_mission_section">
                        <div class="content_wrap">
                            <div class="columns_wrap sc_columns columns_fluid no_margins sc_columns_count_2">
                                <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                                    <h2 class="sc_title sc_title_regular sc_align_right">JBAC Mission :</h2>
                                </div>
                                <div class="column-1_2 sc_column_item sc_column_item_2 even">
                                    <div class="sc_section">
                                        <div class="sc_section_inner">
                                            <p
                                                style="font-size:x-large ; font-family:Verdana, Geneva, Tahoma, sans-serif , Times, serif; color: white; text-align:justify; line-height: 50px; ">
                                                1. Bringing all the believers into single platform including labour to
                                                landlord and attender to IAS, Advocates, Doctors, Engineers, Officers,
                                                Politicians, Pastors, Business Men, Students & all professionals, so
                                                that helping and supporting each other.
                                                <br><br>


                                                2. Unite the whole Chritian Community irrespective of Denomination and
                                                Caste.
                                                <br><br>
                                                3. Identifying Christian Political leaders from ward level,village
                                                level, Mandal level, Constituency, District level to State level to
                                                Serve the Community and recomending these leaders for Nominated
                                                MPTC, ZPTC, Directors, Chairmans .
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <img src="assets/images/servicesssschurch.png">
                    </div>

                    <div class="col-12">
                        <img src="assets/images/register-icons.png">
                    </div>
                    <br>
                    <div class="col-12">
                        <img src="assets/images/my.png">
                    </div>
                    <br>

                </section>
            </article>
        </div>
    </div>
</div>  -->

<div class="container">
    <section class="post_content">
<!-- /* heading start */ -->
<div class="hp1_mission_section">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h2 class="sc_title sc_title_regular; text-center ">Life Enlightenment Foundation (LEF) </h2>
                    </div>
                </div>
                
            </div>
        </div>
        <br>
<!-- /* heading end */ -->

        <div class="hp1_mission_section">
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h2 class="sc_title sc_title_regular ">LEF Vision :</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="sc_section_inner">
                        <p  style="font-size:20px ; font-family:Verdana, Geneva, Tahoma, sans-serif , Times, serif; color: white; text-align:justify; ">
                            <!-- Dedicated to serving and uniting Andhra Pradesh's Christian community, our
                            team
                            focuses on community services such as education and healthcare initiatives.
                            Through
                            outreach programs like social events and workshops, we foster connections
                            among
                            Christians, keeping the community informed through effective communication
                            channels.
                            Our commitment extends to interfaith dialogue and crisis support, with
                            volunteers
                            ready for emergencies. We celebrate Christian culture through cultural
                            programs,
                            collaborating with local churches to strengthen our outreach efforts.
                            Regular
                            feedback ensures our initiatives align with the diverse needs of the
                            Christian
                            community in Andhra Pradesh. -->

                            Serving Christian Community and Unite Christian Community to Serve
                                                the AP State.


                            
                        </p>
                        <p class="tpl_light"></p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="hp1_mission_section">
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h2 class="sc_title sc_title_regular ">LEF Mission :</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="sc_section_inner">
                        <p
                            style="font-size:20px ; font-family:Verdana, Geneva, Tahoma, sans-serif , Times, serif; color: white; text-align:justify; ">
                            1. Bringing all the believers into single platform including labour to
                            landlord and attender to IAS, Advocates, Doctors, Engineers, Officers,
                            Politicians, Pastors, Business Men, Students & all professionals, so
                            that helping and supporting each other.
                            <br><br>


                            2. Unite the whole Chritian Community irrespective of Denomination and
                            Caste.
                            <br><br>
                            3. The Jesus Believers Association Council (JBAC) shall be constituted to oversee the mission of LEF and activities of the association, with its members renewed every two years. The council shall be responsible for executing and advancing the mission of the Foundation. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- <div class="col-12">
            <img src="assets/images/Banner08.png">
        </div> -->

        <div class="col-12">
            <img src="assets/images/servicesssschurch.png">
        </div>

        <div class="col-12">
            <img src="assets/images/register-icons.png">
        </div>
        <br>
        <div class="col-12">
            <img src="assets/images/my.png">
        </div>
        <br>
    </section>
</div>