<!-- Footer -->
<footer class="footer_wrap widget_area scheme_original">
    <div class="widget_area_inner">
        <br>
        <div class="content_wrap">
            <div class="columns_wrap">
                <!-- Widget: Text -->
                <aside class="column-1_3 widget widget_text">
                    <h5 class="widget_title">About Our Website</h5>
                    <div class="textwidget">
                        <p>We Welcome all Believers in AP State and they can Register at  Website inorder to get
                            Services. it is Providing Security and Confidentiality.</p>
                        <p class="textwidget_info">
                            <strong>E-Mail : <b>enlight40@jbac.in</b></strong>
                        </p>
                        <p class="textwidget_info">
                            <strong> Phone Number : <b> 9281506386 </b><br>(సేవ్ చేసుకొని వాట్స్ యాప్  హలో గానీ hi గానీ టైపు చేయండి, SMS పనిచేయదు )</strong>
                        </p>
                    </div>
                </aside>
                <aside class="column-1_3 widget null-instagram-feed">&nbsp;</aside>
                <aside class="column-1_3 widget null-instagram-feed">
                    <h5 class="widget_title">Social Networks</h5>
                    <ul class="instagram-pics">
                        <li>
                            <a href="https://www.youtube.com/@DrJOSEPHPRAKASHMOSIGANTI7" target="_blank">
                                <img style="width:80px;height:80px;" src="assets/images/newicon.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/@JosephP.Mosiganti" target="_blank">
                                <img style="width:80px;height:70px;" src="assets/images/Facebook.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/@Mjosephp7" target="_blank">
                                <img style="width:80px;height:80px;" src="assets/images/twitter.png" alt="" title="" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/@Josephpmosiganti" target="_blank">
                                <img style="width:80px;height:80px;" src="assets/images/instagram.jpg" alt=""
                                    title="" />
                            </a>
                        </li>

                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->






<div class="copy-right-area copy-right-area-two" style="background-color: #c5aaaa;">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-2">
                <h3 style="color:#933d57 ;text-align: center;"><b>Website-Visitors </b> :
                    <a href="" title="page counter"><img
                            src="https://counter3.optistats.ovh/private/freecounterstat.php?c=qpbq6mpm41et14f4a94833842thkxns8"
                            border="0" title="page counter" alt="page counter">
                    </a>
                </h3>
            </div>
            <div class="col-lg-4 col-md-2">
                <br>
                <ul>
                    <li>
                        <h5 style="color: black;"> <a routerLink="/privacypolicy" style="color:white"> <b>Privacy
                                    Policy</b></a></h5>
                    </li>
                    <li>
                        <h5 style="color: black;"><a routerLink="/terms" style="color:white"> <b>Terms &
                                    Conditions</b></a></h5>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-2">
                
                <p style="color: black;font-weight: bolder;font-family: sans-serif;"> © COPYRIGHT - 2026 by Life Enlightenment Foundation - JBAC </p>
            </div>
        </div>
        <br>
    </div>
</div>