<!-- Breadcrumbs -->
<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner inner-bg6">
        <div class="content_wrap">
            <h1 class="page_title">Services</h1>
            <div class="breadcrumbs">
                <a class="breadcrumbs_item home" href="index.html">Home</a>
                <span class="breadcrumbs_delimiter"></span>
                <span class="breadcrumbs_item current">Services</span>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumbs -->
<!-- Page content wrap -->
<br>
<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <div class="page_content_wrap page_paddings_no">
        <div class="content_wrap">
            <!-- Content -->
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content">

                        <article class="myportfolio-container newlife-church" id="esg-grid-9-1-wrap">

                            <div id="esg-grid-9-1" class="esg-grid">
                                <article class="esg-filters esg-multiplefilters margin_bottom_68 text_align_center">

                                    <div class="esg-filter-wrapper esg-fgc-9 margin_left_10 margin_right_10">
                                        <div class="esg-filterbutton selected esg-allfilter" data-filter="filterall"
                                            data-fid="-1">
                                            <span>Filter - All</span>
                                        </div>
                                        <div class="esg-filterbutton" data-fid="181" data-filter="filter-messages">
                                            <span>Messages</span>
                                            <span class="esg-filter-checked">
                                                <i class="eg-icon-ok-1"></i>
                                            </span>
                                        </div>
                                        <div class="esg-filterbutton" data-fid="180" data-filter="filter-missions">
                                            <span>Missions</span>
                                            <span class="esg-filter-checked">
                                                <i class="eg-icon-ok-1"></i>
                                            </span>
                                        </div>
                                        <div class="esg-filterbutton" data-fid="94" data-filter="filter-popular">
                                            <span>Popular</span>
                                            <span class="esg-filter-checked">
                                                <i class="eg-icon-ok-1"></i>
                                            </span>
                                        </div>
                                        <div class="eg-clearfix"></div>
                                    </div>

                                    <div class="esg-sortbutton-wrapper esg-fgc-9 margin_left_10 margin_right_10">
                                        <div class="esg-sortbutton">
                                            <span>Sort By </span>
                                            <span class="sortby_data">None</span>
                                            <select class="esg-sorting-select">
                                                <option value="date">Date</option>
                                            </select>
                                        </div>
                                        <div class="esg-sortbutton-order eg-icon-down-open tp-asc"></div>
                                    </div>

                                </article>

                                <div class="esg-clear-no-height"></div>

                                <ul>

                                    <li class="filterall filter-popular eg-lorem-ipsum-wrapper">

                                        <div class="esg-media-cover-wrapper">

                                            <div class="esg-entry-media">
                                                <img src="http://placehold.it/370x288" alt="">
                                            </div>

                                            <div class="esg-entry-cover">

                                                <div class="esg-overlay esg-slide eg-lorem-ipsum-container"
                                                    data-delay="0">
                                                </div>
                                                <div class="esg-center eg-lorem-ipsum-element-25-a esg-slide"
                                                    data-delay="0.2">
                                                    <a class="eg-lorem-ipsum-element-25 esgbox"
                                                        href="http://placehold.it/2400x1600">SHOW IMAGE</a>
                                                </div>
                                                <div class="esg-center esg-click-to-play-video eg-lorem-ipsum-element-28 esg-slide"
                                                    data-delay="0.2">PLAY VIDEO</div>
                                            </div>

                                            <div class="esg-entry-content eg-lorem-ipsum-content">
                                                <div class="esg-content eg-lorem-ipsum-element-0-a">
                                                    <a class="eg-lorem-ipsum-element-0" href="sermons-single.html"
                                                        target="_self">Good Friday &
                                                        Easter Sunday</a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-element-33">by</div>
                                                <div class="esg-content eg-lorem-ipsum-element-3">Jane Doe</div>
                                                <div class="esg-content eg-lorem-ipsum-element-32">/</div>
                                                <div class="esg-content eg-lorem-ipsum-element-31">Friday, July
                                                    31, 2016</div>
                                                <div class="esg-content eg-lorem-ipsum-element-6">Lorem ipsum
                                                    dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magn...</div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-38">
                                                    <a class="custom_field_link" href="https://drive.google.com">
                                                        <span class="icon-iconmonstr-download-11-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-41">
                                                    <a class="custom_field_link"
                                                        href="http://newlife-church.com/wp-content/uploads/2016/05/AxiomthemesblankPDF.pdf">
                                                        <span class="icon-iconmonstr-pdf-file-2-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-42">
                                                    <a class="custom_field_link" href="https://vimeo.com/34767613">
                                                        <span class="icon-iconmonstr-video-camera-icon"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="filterall filter-missions filter-popular eg-lorem-ipsum-wrapper">

                                        <div class="esg-media-cover-wrapper">

                                            <div class="esg-entry-media">
                                                <img src="http://placehold.it/370x288" alt="">
                                            </div>

                                            <div class="esg-entry-cover">

                                                <div class="esg-overlay esg-slide eg-lorem-ipsum-container"
                                                    data-delay="0">
                                                </div>
                                                <div class="esg-center eg-lorem-ipsum-element-25-a esg-slide"
                                                    data-delay="0.2">
                                                    <a class="eg-lorem-ipsum-element-25 esgbox"
                                                        href="http://placehold.it/2400x1600">SHOW IMAGE</a>
                                                </div>
                                                <div class="esg-center esg-click-to-play-video eg-lorem-ipsum-element-28 esg-slide"
                                                    data-delay="0.2">PLAY VIDEO</div>
                                            </div>

                                            <div class="esg-entry-content eg-lorem-ipsum-content">
                                                <div class="esg-content eg-lorem-ipsum-element-0-a">
                                                    <a class="eg-lorem-ipsum-element-0" href="sermons-single.html"
                                                        target="_self">Persevere: The
                                                        Book of James</a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-element-33">by</div>
                                                <div class="esg-content eg-lorem-ipsum-element-3">Jane Doe</div>
                                                <div class="esg-content eg-lorem-ipsum-element-32">/</div>
                                                <div class="esg-content eg-lorem-ipsum-element-31">Tuesday,
                                                    September 1, 2016</div>
                                                <div class="esg-content eg-lorem-ipsum-element-6">Duis aute
                                                    irure dolor in reprehenderit in voluptate velit esse cillum
                                                    dolore eu fugiat nulla pariatur. Excepteur si...</div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-38">
                                                    <a class="custom_field_link" href="https://drive.google.com">
                                                        <span class="icon-iconmonstr-download-11-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-41">
                                                    <a class="custom_field_link" href="media/AxiomthemesblankPDF.pdf">
                                                        <span class="icon-iconmonstr-pdf-file-2-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-42">
                                                    <a class="custom_field_link" href="https://vimeo.com/34767613">
                                                        <span class="icon-iconmonstr-video-camera-icon"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="filterall filter-popular eg-lorem-ipsum-wrapper">

                                        <div class="esg-media-cover-wrapper">

                                            <div class="esg-entry-media">
                                                <img src="http://placehold.it/370x288"
                                                    alt="Persevere: The Book of James">
                                            </div>

                                            <div class="esg-entry-cover">

                                                <div class="esg-overlay esg-slide eg-lorem-ipsum-container"
                                                    data-delay="0">
                                                </div>
                                                <div class="esg-center eg-lorem-ipsum-element-25-a esg-slide"
                                                    data-delay="0.2">
                                                    <a class="eg-lorem-ipsum-element-25 esgbox"
                                                        href="http://placehold.it/2400x1600">SHOW IMAGE</a>
                                                </div>
                                                <div class="esg-center esg-click-to-play-video eg-lorem-ipsum-element-28 esg-slide"
                                                    data-delay="0.2">PLAY VIDEO</div>
                                            </div>

                                            <div class="esg-entry-content eg-lorem-ipsum-content">
                                                <div class="esg-content eg-lorem-ipsum-element-0-a">
                                                    <a class="eg-lorem-ipsum-element-0" href="sermons-single.html"
                                                        target="_self">Open Bible
                                                        Study</a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-element-33">by</div>
                                                <div class="esg-content eg-lorem-ipsum-element-3">Jane Doe</div>
                                                <div class="esg-content eg-lorem-ipsum-element-32">/</div>
                                                <div class="esg-content eg-lorem-ipsum-element-31">Tuesday,
                                                    September 1, 2016</div>
                                                <div class="esg-content eg-lorem-ipsum-element-6">Ut enim ad
                                                    minim veniam, quis nostrud ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat. Duis aute irure do...</div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-38">
                                                    <a class="custom_field_link" href="https://drive.google.com">
                                                        <span class="icon-iconmonstr-download-11-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-41">
                                                    <a class="custom_field_link" href="media/AxiomthemesblankPDF.pdf">
                                                        <span class="icon-iconmonstr-pdf-file-2-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-42">
                                                    <a class="custom_field_link" href="https://vimeo.com/34767613">
                                                        <span class="icon-iconmonstr-video-camera-icon"></span>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>


                                    </li>

                                    <li class="filterall filter-messages filter-missions eg-lorem-ipsum-wrapper">

                                        <div class="esg-media-cover-wrapper">

                                            <div class="esg-entry-media">
                                                <img src="http://placehold.it/370x288" alt="">
                                            </div>

                                            <div class="esg-entry-cover">

                                                <div class="esg-overlay esg-slide eg-lorem-ipsum-container"
                                                    data-delay="0">
                                                </div>

                                                <div class="esg-center eg-lorem-ipsum-element-25-a esg-slide"
                                                    data-delay="0.2">
                                                    <a class="eg-lorem-ipsum-element-25 esgbox"
                                                        href="http://placehold.it/2400x1600">SHOW IMAGE</a>
                                                </div>
                                                <div class="esg-center esg-click-to-play-video eg-lorem-ipsum-element-28 esg-slide"
                                                    data-delay="0.2">PLAY VIDEO</div>
                                            </div>

                                            <div class="esg-entry-content eg-lorem-ipsum-content">
                                                <div class="esg-content eg-lorem-ipsum-element-0-a">
                                                    <a class="eg-lorem-ipsum-element-0" href="sermons-single.html"
                                                        target="_self">We bring
                                                        heaven to earth through Christ in us</a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-element-33">by</div>
                                                <div class="esg-content eg-lorem-ipsum-element-3">Jane Doe</div>
                                                <div class="esg-content eg-lorem-ipsum-element-32">/</div>
                                                <div class="esg-content eg-lorem-ipsum-element-31">Wednesday,
                                                    September 2, 2016</div>
                                                <div class="esg-content eg-lorem-ipsum-element-6">Ut enim ad
                                                    minim veniam, quis nostrud ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat.</div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-38">
                                                    <a class="custom_field_link" href="https://drive.google.com">
                                                        <span class="icon-iconmonstr-download-11-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-41">
                                                    <a class="custom_field_link" href="media/AxiomthemesblankPDF.pdf">
                                                        <span class="icon-iconmonstr-pdf-file-2-icon"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="filterall filter-missions eg-lorem-ipsum-wrapper">

                                        <div class="esg-media-cover-wrapper">

                                            <div class="esg-entry-media">
                                                <img src="http://placehold.it/370x288" alt="">
                                            </div>

                                            <div class="esg-entry-cover">

                                                <div class="esg-overlay esg-slide eg-lorem-ipsum-container"
                                                    data-delay="0">
                                                </div>
                                                <div class="esg-center eg-lorem-ipsum-element-25-a esg-slide"
                                                    data-delay="0.2">
                                                    <a class="eg-lorem-ipsum-element-25 esgbox"
                                                        href="http://placehold.it/2400x1600">SHOW IMAGE</a>
                                                </div>
                                                <div class="esg-center esg-click-to-play-video eg-lorem-ipsum-element-28 esg-slide"
                                                    data-delay="0.2">PLAY VIDEO</div>
                                            </div>

                                            <div class="esg-entry-content eg-lorem-ipsum-content">
                                                <div class="esg-content eg-lorem-ipsum-element-0-a">
                                                    <a class="eg-lorem-ipsum-element-0 eg-post-1445"
                                                        href="sermons-single.html" target="_self">The Open
                                                        Invitation</a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-element-33">by</div>
                                                <div class="esg-content eg-lorem-ipsum-element-3">Jane Doe</div>
                                                <div class="esg-content eg-lorem-ipsum-element-32">/</div>
                                                <div class="esg-content eg-lorem-ipsum-element-31">Wednesday,
                                                    September 16, 2016</div>
                                                <div class="esg-content eg-lorem-ipsum-element-6">Ut enim ad
                                                    minim veniam, quis nostrud ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat.</div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-38">
                                                    <a class="custom_field_link" href="https://drive.google.com">
                                                        <span class="icon-iconmonstr-download-11-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-41">
                                                    <a class="custom_field_link" href="media/AxiomthemesblankPDF.pdf">
                                                        <span class="icon-iconmonstr-pdf-file-2-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-post-1445 eg-lorem-ipsum-nostyle-element-42">
                                                    <a class="custom_field_link" href="https://vimeo.com/34767613">
                                                        <span class="icon-iconmonstr-video-camera-icon"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="filterall filter-messages filter-popular eg-lorem-ipsum-wrapper">

                                        <div class="esg-media-cover-wrapper">

                                            <div class="esg-entry-media">
                                                <img src="http://placehold.it/370x288" alt="">
                                            </div>

                                            <div class="esg-entry-cover">

                                                <div class="esg-overlay esg-slide eg-lorem-ipsum-container"
                                                    data-delay="0">
                                                </div>
                                                <div class="esg-center eg-lorem-ipsum-element-25-a esg-slide"
                                                    data-delay="0.2">
                                                    <a class="eg-lorem-ipsum-element-25 esgbox"
                                                        href="http://placehold.it/2400x1600">SHOW IMAGE</a>
                                                </div>
                                                <div class="esg-center esg-click-to-play-video eg-lorem-ipsum-element-28 esg-slide"
                                                    data-delay="0.2">PLAY VIDEO</div>
                                            </div>

                                            <div class="esg-entry-content eg-lorem-ipsum-content">
                                                <div class="esg-content eg-lorem-ipsum-element-0-a">
                                                    <a class="eg-lorem-ipsum-element-0" href="sermons-single.html"
                                                        target="_self">The Opposite
                                                        of Revenge</a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-element-33">by</div>
                                                <div class="esg-content eg-lorem-ipsum-element-3">Jane Doe</div>
                                                <div class="esg-content eg-lorem-ipsum-element-32">/</div>
                                                <div class="esg-content eg-lorem-ipsum-element-31">Thursday,
                                                    September 17, 2016</div>
                                                <div class="esg-content eg-lorem-ipsum-element-6">Ut enim ad
                                                    minim veniam, quis nostrud ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat.</div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-38">
                                                    <a class="custom_field_link" href="https://drive.google.com">
                                                        <span class="icon-iconmonstr-download-11-icon"></span>
                                                    </a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-nostyle-element-41">
                                                    <a class="custom_field_link" href="media/AxiomthemesblankPDF.pdf">
                                                        <span class="icon-iconmonstr-pdf-file-2-icon"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="filterall filter-popular eg-lorem-ipsum-wrapper">

                                        <div class="esg-media-cover-wrapper">

                                            <div class="esg-entry-media">
                                                <img src="http://placehold.it/370x288" alt="">
                                            </div>

                                            <div class="esg-entry-cover">

                                                <div class="esg-overlay esg-slide eg-lorem-ipsum-container"
                                                    data-delay="0">
                                                </div>
                                                <div class="esg-center eg-lorem-ipsum-element-25-a esg-slide"
                                                    data-delay="0.2">
                                                    <a class="eg-lorem-ipsum-element-25 esgbox"
                                                        href="http://placehold.it/2400x1600">SHOW IMAGE</a>
                                                </div>
                                                <div class="esg-center esg-click-to-play-video eg-lorem-ipsum-element-28 esg-slide"
                                                    data-delay="0.2">PLAY VIDEO</div>
                                            </div>

                                            <div class="esg-entry-content eg-lorem-ipsum-content">
                                                <div class="esg-content eg-lorem-ipsum-element-0-a">
                                                    <a class="eg-lorem-ipsum-element-0" href="sermons-single.html"
                                                        target="_self">The Pleasures
                                                        of God</a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-element-33">by</div>
                                                <div class="esg-content eg-lorem-ipsum-element-3">John Doe</div>
                                                <div class="esg-content eg-lorem-ipsum-element-32">/</div>
                                                <div class="esg-content eg-lorem-ipsum-element-31">Monday, June
                                                    6, 2016</div>
                                                <div class="esg-content eg-lorem-ipsum-element-6">Lorem ipsum
                                                    dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magn...</div>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="filterall filter-missions eg-lorem-ipsum-wrapper">

                                        <div class="esg-media-cover-wrapper">

                                            <div class="esg-entry-media">
                                                <img src="http://placehold.it/370x288" alt="">
                                            </div>

                                            <div class="esg-entry-cover">

                                                <div class="esg-overlay esg-slide eg-lorem-ipsum-container"
                                                    data-delay="0">
                                                </div>
                                                <div class="esg-center eg-lorem-ipsum-element-25-a esg-slide"
                                                    data-delay="0.2">
                                                    <a class="eg-lorem-ipsum-element-25 esgbox"
                                                        href="http://placehold.it/2400x1600">SHOW IMAGE</a>
                                                </div>
                                                <div class="esg-center esg-click-to-play-video eg-lorem-ipsum-element-28 esg-slide"
                                                    data-delay="0.2">PLAY VIDEO</div>
                                            </div>

                                            <div class="esg-entry-content eg-lorem-ipsum-content">
                                                <div class="esg-content eg-lorem-ipsum-element-0-a">
                                                    <a class="eg-lorem-ipsum-element-0" href="sermons-single.html"
                                                        target="_self">Thinking Like
                                                        Jesus About Disability</a>
                                                </div>
                                                <div class="esg-content eg-lorem-ipsum-element-33">by</div>
                                                <div class="esg-content eg-lorem-ipsum-element-3">John Doe</div>
                                                <div class="esg-content eg-lorem-ipsum-element-32">/</div>
                                                <div class="esg-content eg-lorem-ipsum-element-31">Monday, June
                                                    6, 2016</div>
                                                <div class="esg-content eg-lorem-ipsum-element-6">Lorem ipsum
                                                    dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magn...</div>
                                            </div>
                                        </div>

                                    </li>

                                </ul>

                                <article class="esg-filters esg-multiplefilters margin_top_20 text_align_center">
                                    <div class="esg-navigationbutton esg-left  esg-fgc-9"
                                        style="margin-left: 10px !important; margin-right: 10px !important; display: none;">
                                        <i class="eg-icon-left-open"></i>
                                    </div>

                                    <div class="esg-pagination esg-fgc-9 margin_right_10 margin_left_10"></div>

                                    <div class="esg-navigationbutton esg-right esg-fgc-9"
                                        style="margin-left: 10px !important; margin-right: 10px !important; display: none;">
                                        <i class="eg-icon-right-open"></i>
                                    </div>
                                </article>
                                <div class="esg-clear-no-height"></div>
                            </div>

                        </article>

                        <div class="clear"></div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>
<br><br>